<%- include('../generated.ejs') %>

package zaber.motion.binary;

import zaber.motion.Units;
import zaber.motion.FirmwareVersion;
import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;
import zaber.motion.requests.AxisMoveType;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.binaryDevice, indent: 0}) %>
public class Device {
<%- include('../class.ejs', {type: definitions.classes.binaryDevice}) -%>
}
