<%- include('../generated.ejs') %>

package zaber.motion.binary;

import zaber.motion.Units;
import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.binaryDeviceSettings, indent: 0}) %>
public class DeviceSettings {
<%- include('../class.ejs', {type: definitions.classes.binaryDeviceSettings}) -%>
}
