<%- include('../generated.ejs') %>

using System;
using System.Linq;
using System.Threading;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

namespace Zaber.Motion.Binary
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.binaryConnection, indent: 1}) %>
#if NET || NETSTANDARD
    public class Connection : IDisposable, IAsyncDisposable
#else
    public class Connection : IDisposable
#endif
    {
        /// <summary>
        /// Delegate used to invoke <see cref="Disconnected"/>> event.
        /// </summary>
        /// <param name="disconnectionError">Error that caused the disconnection.</param>
        public delegate void DisconnectedHandler(MotionLibException disconnectionError);


<%- include('../xmldoc_summary.ejs', {type: definitions.classes.binaryConnection.events.unknownResponse, indent: 2}) %>
        public event Action<UnknownResponseEvent>? UnknownResponse;


<%- include('../xmldoc_summary.ejs', {type: definitions.classes.binaryConnection.events.replyOnly, indent: 2}) %>
        public event Action<ReplyOnlyEvent>? ReplyOnly;


<%- include('../xmldoc_summary.ejs', {type: definitions.classes.binaryConnection.events.disconnected, indent: 2}) %>
        public event DisconnectedHandler? Disconnected
        {
            add
            {
                lock (_lock)
                {
                    CheckConnected();
                    _disconnected += value;
                }
            }

            remove
            {
                _disconnected -= value;
            }
        }


        /// <summary>
        /// Indicates whether the connection is currently connected.
        /// </summary>
        [Obsolete("No longer supported: This method does not reliably represent the connection state, and will be removed in a future release.")]
        public bool IsConnected
        {
            get
            {
                lock (_lock)
                {
                    return _isConnected;
                }
            }
        }


        /// <summary>
        /// Finalizes an instance of the <see cref="Connection"/> class.
        /// </summary>
        ~Connection()
        {
            Dispose(false);
        }


<%- include('../class.ejs', {type: definitions.classes.binaryConnection}) -%>
        /// <summary>
        /// Disposes the object.
        /// </summary>
        public void Dispose()
        {
            Dispose(true);
            GC.SuppressFinalize(this);
        }


        /// <summary>
        /// Dispose pattern function.
        /// </summary>
        /// <param name="disposing">True when function is called from Dispose().</param>
        protected virtual void Dispose(bool disposing)
        {
            if (Interlocked.CompareExchange(ref _disposed, 1, 0) != 0)
            {
                return;
            }

            Close();
        }


#if NET || NETSTANDARD
#pragma warning disable SA1202
        /// <summary>
        /// IAsyncDisposable implementation.
        /// </summary>
        /// <returns>A task meant to be awaited by the "await using" statement.</returns>
        public async ValueTask DisposeAsync()
        {
            if (Interlocked.CompareExchange(ref _disposed, 1, 0) != 0)
            {
                return;
            }

            await DisposeAsyncCore().ConfigureAwait(false);
            await CloseAsync().ConfigureAwait(false);

#pragma warning disable CA1816
            GC.SuppressFinalize(this);
#pragma warning restore CA1816
        }
#pragma warning restore SA1202


        /// <summary>
        /// Enables subclasses to dispose of their own resources.
        /// </summary>
        /// <returns>Immediately.</returns>
        protected virtual async ValueTask DisposeAsyncCore()
            => await Task.FromResult(0).ConfigureAwait(false);
#endif


        private void CheckConnected()
        {
            if (!_isConnected)
            {
                throw new InvalidOperationException("Binary Connection is already closed.");
            }
        }


        private void Subscribe()
        {
            Events.UnknownBinaryResponse += Events_UnknownResponse;
            Events.BinaryReplyOnly += Events_ReplyOnly;
            Events.Disconnected += Events_Disconnected;
        }


        private void Unsubscribe()
        {
            Events.Disconnected -= Events_Disconnected;
            Events.UnknownBinaryResponse -= Events_UnknownResponse;
            Events.BinaryReplyOnly -= Events_ReplyOnly;
        }


        private void Events_UnknownResponse(Requests.UnknownBinaryResponseEventWrapper replyEvent)
        {
            if (replyEvent.InterfaceId != InterfaceId)
            {
                return;
            }

            UnknownResponse?.Invoke(replyEvent.UnknownResponse);
        }

        private void Events_ReplyOnly(Requests.BinaryReplyOnlyEventWrapper replyEvent)
        {
            if (replyEvent.InterfaceId != InterfaceId)
            {
                return;
            }

            ReplyOnly?.Invoke(replyEvent.Reply);
        }

        private void Events_Disconnected(Requests.DisconnectedEvent disconnectedEvent)
        {
            if (disconnectedEvent.InterfaceId != InterfaceId)
            {
                return;
            }

            lock (_lock)
            {
                _isConnected = false;
            }

            Unsubscribe();
            _disconnected?.Invoke(Zaber.Motion.Exceptions.ExceptionConverter.Convert(disconnectedEvent.ErrorType, disconnectedEvent.ErrorMessage));
        }


        private readonly object _lock = new object();
        private int _disposed;
        private bool _isConnected = true;
        private DisconnectedHandler? _disconnected;
    }
}
