<%- include('../generated.ejs') %>

using System.Threading.Tasks;

using Zaber.Motion.Runtime;

namespace Zaber.Motion.Binary
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.binaryDeviceSettings, indent: 1}) %>
    public class DeviceSettings
    {
<%- include('../class.ejs', {type: definitions.classes.binaryDeviceSettings}) -%>
    }
}
