<%- include('../generated.ejs') %>

using System;
using System.Linq;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

namespace Zaber.Motion.Binary
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.binaryDevice, indent: 1}) %>
    public class Device
    {
<%- include('../class.ejs', {type: definitions.classes.binaryDevice}) -%>
    }
}
