<%- include('../generated.ejs') %>

package zaber.motion.product;

import zaber.motion.Units;
import zaber.motion.FirmwareVersion;
import zaber.motion.ascii.Axis;
import zaber.motion.ascii.AxisSettings;
import zaber.motion.ascii.AxisStorage;
import zaber.motion.ascii.Response;
import zaber.motion.ascii.SetStateAxisResponse;
import zaber.motion.ascii.Warnings;
import zaber.motion.gateway.Call;
import zaber.motion.Measurement;
import zaber.motion.exceptions.MotionLibException;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.process, indent: 0}) %>
public class Process {
<%- include('../class.ejs', {type: definitions.classes.process}) -%>
}
