<%- include('../generated.ejs') %>

package zaber.motion.product;

import zaber.motion.ArrayUtility;
import zaber.motion.ascii.Connection;
import zaber.motion.ascii.Device;
import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;
import zaber.motion.requests.DeviceType;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.processController, indent: 0}) %>
public class ProcessController {
<%- include('../class.ejs', {type: definitions.classes.processController}) -%>
}
