<%- include('../generated.ejs') %>

package zaber.motion.gcode;

import zaber.motion.Units;
import zaber.motion.ascii.Device;
import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.offlineTranslator, indent: 0}) %>
public class OfflineTranslator {
<%- include('../class.ejs', {type: definitions.classes.offlineTranslator}) -%>

    /**
    * Finalize is used over Cleaner due compatibility with Java 8.
    */
    @Override
    @SuppressWarnings("deprecation")
    public void finalize() {
        OfflineTranslator.free(this.translatorId);
    }
}
