<%- include('generated.ejs') %>

import Gateway
import DtoRequests

<%- include('swiftdoc_summary.ejs', {type: definitions.classes.library, indent: 0, isFunction: false}) %>
public final class Library {

    // Make constructor unavailable for static class
    @available(*, unavailable) private init() {}

<%- include('class.ejs', {type: definitions.classes.library}) -%>
}
