<%- include('generated.ejs') %>

import Gateway
import DtoRequests

<%- include('swiftdoc_summary.ejs', {type: definitions.classes.tools, indent: 0, isFunction: false}) %>
public final class Tools {

    // Make constructor unavailable for static class
    @available(*, unavailable) private init() {}

<%- include('class.ejs', {type: definitions.classes.tools}) -%>
}
