<%- include('generated.ejs') %>

import UnitsInternal
import Gateway
import DtoRequests

<%- include('swiftdoc_summary.ejs', {type: definitions.classes.unitTable, indent: 0, isFunction: false}) %>
public final class UnitTable {

    // Make constructor unavailable for static class
    @available(*, unavailable) private init() {}

<%- include('class.ejs', {type: definitions.classes.unitTable}) -%>
}
