<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import * as requests from '../requests';
import { DeviceDefinition } from './device_definition';
import { TranslatorConfig } from './translator_config';
import { TranslateResult } from './translate_result';
import { Device } from '../ascii/device';
import { Angle, Length, Native, AngularVelocity, Velocity } from '../units';
import { registerForFinalization } from '../finalizer';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.offlineTranslator, indent: 0}) %>
export class OfflineTranslator {
<%- include('../class.ejs', {type: definitions.classes.offlineTranslator}) -%>

  /**
   * Releases the native resources of the translator.
   * Should only be called if your environment does not support FinalizationRegistry.
   * https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/FinalizationRegistry
   */
  public free(): void {
    OfflineTranslator._free(this.translatorId);
  }
}
