<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import * as requests from '../requests';
import { TranslateResult } from './translate_result';
import { TranslatorConfig } from './translator_config';
import { Stream } from '../ascii/stream';
import { Angle, Length, Native, AngularVelocity, Velocity } from '../units';
import { registerForFinalization } from '../finalizer';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.translator, indent: 0}) %>
export class Translator {
<%- include('../class.ejs', {type: definitions.classes.translator}) -%>

  /**
   * Releases the native resources of the translator.
   * Should only be called if your environment does not support FinalizationRegistry.
   * https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/FinalizationRegistry
   */
  public free(): void {
    Translator._free(this.translatorId);
  }
}

<%- include('../options.ejs', {type: definitions.classes.translator}) -%>
