<%- include('../generated.ejs') %>

import UnitsInternal
import Dto
import DtoRequests
import Gateway
import ZaberMotionExceptions

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.axisGroup, indent: 0, isFunction: false}) %>
public final class AxisGroup: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.axisGroup}) -%>
}
