<%- include('../generated.ejs') %>

import UnitsInternal
import Dto
import DtoRequests
import Gateway
import ZaberMotionExceptions
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.axis, indent: 0, isFunction: false}) %>
public final class Axis: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.axis}) -%>
}

