<%- include('../generated.ejs') %>

import UnitsInternal
import DtoRequests
import Gateway
import ZaberMotionExceptions
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.axisSettings, indent: 0, isFunction: false}) %>
public final class AxisSettings: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.axisSettings}) -%>
}

