<%- include('../generated.ejs') %>

import Combine
import Darwin
import Foundation
import DtoRequests
import DtoAscii
import Gateway
import ZaberMotionExceptions
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.connection, indent: 0, isFunction: false}) %>
public final class Connection: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.connection}) -%>

    /**
    Close the connection synchronously.
    */
    public func closeSync() throws  {
        var request = DtoRequests.InterfaceEmptyRequest()
        request.interfaceId = self.interfaceId

        try Gateway.callSync("interface/close", request)
    }

    deinit {
        guard interfaceId > 0 else { return }

        do {
            try self.closeSync()
        } catch let e as MotionLibException {
            fputs("ZML Error \(e.toString())", stderr)
        } catch {
            fputs("System Error: \(error)", stderr)
        }
    }

    /**
     Force initialization of lazy event publishers to avoid race conditions.
    */
    private func ensureSubscribed() {
        _ = self.disconnected
        _ = self.alert
        _ = self.unknownResponse
    }

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.connection.events.disconnected, indent: 1, isFunction: false}) %>
    public lazy var disconnected = {
        return Events.shared.disconnected.filter {
            disconnectedEvent in
            return disconnectedEvent.interfaceId == self.interfaceId
        }.first()
        .eraseToAnyPublisher()
        .share()
    }()

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.connection.events.alert, indent: 1, isFunction: false}) %>
    public lazy var alert = {
        return Events.shared.alert.prefix(
            untilOutputFrom: disconnected
        ).filter {
            alertEventWrapper in
            return alertEventWrapper.interfaceId == self.interfaceId
        }.map {
            alertEventWrapper in
            return alertEventWrapper.alert
        }.eraseToAnyPublisher()
        .share()
    }()

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.connection.events.unknownResponse, indent: 1, isFunction: false}) %>
    public lazy var unknownResponse = {
        return Events.shared.unknownResponse.prefix(
            untilOutputFrom: disconnected
        ).filter {
            unknownResponseEventWrapper in
            return unknownResponseEventWrapper.interfaceId == self.interfaceId
        }.map {
            unknownResponseEventWrapper in
            return unknownResponseEventWrapper.unknownResponse
        }.eraseToAnyPublisher()
        .share()
    }()
}
