<%- include('../generated.ejs') %>

import UnitsInternal
import Dto
import DtoRequests
import Gateway
import ZaberMotionExceptions
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.deviceSettings, indent: 0, isFunction: false}) %>
public final class DeviceSettings: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.deviceSettings}) -%>
}
