<%- include('../generated.ejs') %>

import Dto
import DtoRequests
import Gateway
import ZaberMotionExceptions
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.device, indent: 0, isFunction: false}) %>
public final class Device: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.device}) -%>
}
