<%- include('../generated.ejs') %>

import Darwin
import UnitsInternal
import DtoRequests
import Gateway
import ZaberMotionExceptions

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.oscilloscopeData, indent: 0, isFunction: false}) %>
public final class OscilloscopeData: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.oscilloscopeData}) -%>
<%- -%>
    deinit {
        guard self.dataId >= 0 else { return }

        do {
            try OscilloscopeData.free(dataId: self.dataId)
        } catch let e as MotionLibException {
            fputs("ZML Error: \(e.toString())", stderr)
        } catch {
            fputs("System Error: \(error)", stderr)
        }
    }
}

