<%- include('../generated.ejs') %>

import UnitsInternal
import DtoRequests
import Gateway
import ZaberMotionExceptions
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.oscilloscope, indent: 0, isFunction: false}) %>
public final class Oscilloscope: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.oscilloscope}) -%>
}
