<%- include('../generated.ejs') %>

import DtoRequests
import Gateway
import ZaberMotionExceptions

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.pvt, indent: 0, isFunction: false}) %>
public final class Pvt: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.pvt}) -%>
}

