<%- include('../generated.ejs') %>

import Dto
import DtoRequests
import Gateway
import ZaberMotionExceptions

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.pvtSequence, indent: 0, isFunction: false}) %>
public final class PvtSequence: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.pvtSequence}) -%>
}

