<%- include('../generated.ejs') %>

import UnitsInternal
import Dto
import DtoRequests
import Gateway
import ZaberMotionExceptions

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.stream, indent: 0, isFunction: false}) %>
public final class Stream: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.stream}) -%>
}
