<%- include('../generated.ejs') %>

import UnitsInternal
import DtoRequests
import Gateway
import ZaberMotionExceptions

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.streamIo, indent: 0, isFunction: false}) %>
public final class StreamIo: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.streamIo}) -%>
}

