<%- include('../generated.ejs') %>

import DtoRequests
import Gateway
import ZaberMotionExceptions

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.streamBuffer, indent: 0, isFunction: false}) %>
public final class StreamBuffer: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.streamBuffer}) -%>
}

