<%- include('../generated.ejs') %>

import DtoRequests
import Gateway
import ZaberMotionExceptions

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.streams, indent: 0, isFunction: false}) %>
public final class Streams: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.streams}) -%>
}
