<%- include('../generated.ejs') %>

import Darwin
import DtoRequests
import Gateway
import ZaberMotionExceptions

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.transport, indent: 0, isFunction: false}) %>
public final class Transport: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.transport}) -%>
<%- -%>
    public func close() throws  {
        var request = DtoRequests.CustomInterfaceCloseRequest()
        request.transportId = self.transportId

        try Gateway.callSync("custom/interface/close", request)
    }

    deinit {
        guard self.transportId >= 0 else { return }

        do {
            try close()
        } catch let e as MotionLibException {
            fputs("ZML Error: \(e.toString())", stderr)
        } catch {
            fputs("System Error: \(error)", stderr)
        }
    }
}
