<%- include('../generated.ejs') %>

import UnitsInternal
import DtoRequests
import DtoAscii
import Gateway
import ZaberMotionExceptions
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.trigger, indent: 0, isFunction: false}) %>
public final class Trigger: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.trigger}) -%>
}

