<%- include('../generated.ejs') %>

import DtoRequests
import Gateway
import ZaberMotionExceptions
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.triggers, indent: 0, isFunction: false}) %>
public final class Triggers: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.triggers}) -%>
}
