<%- include('../generated.ejs') %>

import Combine
import Foundation
import DtoRequests
import DtoBinary
import Gateway
import ZaberMotionExceptions
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.binaryConnection, indent: 0, isFunction: false}) %>
public final class Connection: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.binaryConnection}) -%>

    /**
     Close the connection synchronously.
     */
    public func closeSync() throws  {
        var request = DtoRequests.InterfaceEmptyRequest()
        request.interfaceId = self.interfaceId

        try Gateway.callSync("interface/close", request)
    }

    deinit {
        guard interfaceId > 0 else { return }

        do {
            try self.closeSync()
        } catch let e as MotionLibException {
            fputs("ZML Error \(e.toString())", stderr)
        } catch {
            fputs("System Error: \(error)", stderr)
        }
    }

    /**
     Force initialization of lazy event publishers to avoid race conditions.
    */
    private func ensureSubscribed() {
        _ = self.disconnected
        _ = self.replyOnly
        _ = self.unknownResponse
    }

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.binaryConnection.events.disconnected, indent: 1, isFunction: false}) %>
    public lazy var disconnected = {
        return Events.shared.disconnected.filter {
            disconnectedEvent in
            return disconnectedEvent.interfaceId == self.interfaceId
        }.first()
        .eraseToAnyPublisher()
        .share()
    }()

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.binaryConnection.events.replyOnly, indent: 1, isFunction: false}) %>
    public lazy var replyOnly = {
        return Events.shared.binaryReplyOnly.prefix(
            untilOutputFrom: disconnected
        ).filter {
            binaryReplyOnlyEventWrapper in
            return binaryReplyOnlyEventWrapper.interfaceId == self.interfaceId
        }.map {
            binaryReplyOnlyEventWrapper in
            return binaryReplyOnlyEventWrapper.reply
        }.eraseToAnyPublisher()
        .share()
    }()

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.binaryConnection.events.unknownResponse, indent: 1, isFunction: false}) %>
    public lazy var unknownResponse = {
        return Events.shared.unknownResponseBinary.prefix(
            untilOutputFrom: disconnected
        ).filter {
            unknownBinaryResponseEventWrapper in
            return unknownBinaryResponseEventWrapper.interfaceId == self.interfaceId
        }.map {
            unknownBinaryResponseEventWrapper in
            return unknownBinaryResponseEventWrapper.unknownResponse
        }.eraseToAnyPublisher()
        .share()
    }()
}
