<%- include('../generated.ejs') %>

import UnitsInternal
import DtoRequests
import Gateway
import ZaberMotionExceptions

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.binaryDeviceSettings, indent: 0, isFunction: false}) %>
public final class DeviceSettings: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.binaryDeviceSettings}) -%>
}
