<%- include('../generated.ejs') %>

import UnitsInternal
import Dto
import DtoRequests
import DtoBinary
import Gateway
import ZaberMotionExceptions
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.binaryDevice, indent: 0, isFunction: false}) %>
public final class Device: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.binaryDevice}) -%>
}
