<%- include('generated.ejs') %>

import * as gateway from './gateway';
import * as requests from './requests';
import { LogOutputMode } from './log_output_mode';
import { DeviceDbSourceType } from './device_db_source_type';

export class Library {
<%- include('class.ejs', {type: definitions.classes.library}) -%>
}

gateway.addInitCallback(Library.checkVersion);
