<%- include('generated.ejs') %>

import * as gateway from './gateway';
import * as requests from './requests';

<%- include('jsdoc_simple.ejs', {type: definitions.classes.tools, indent: 0}) %>
export class Tools {
<%- include('class.ejs', {type: definitions.classes.tools}) -%>
}
