<%- include('generated.ejs') %>

import * as gateway from './gateway';
import * as requests from './requests';
import { Units } from './units';

export class UnitTable {
<%- include('class.ejs', {type: definitions.classes.unitTable}) -%>
}
