<%- include('../generated.ejs') %>

from typing import Optional, List

from ..call import call, call_async, call_sync
from ..ascii import Device, Axis
from ..units import LengthUnits, Units

from ..dto import requests as dto
from ..dto.named_parameter import NamedParameter
from ..dto.microscopy.autofocus_status import AutofocusStatus


class Autofocus:
<%- include('../docstring_simple.ejs', {type: definitions.classes.autofocus, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.autofocus}) -%>
