<%- include('../generated.ejs') %>
# pylint: disable=W0622

from ..call import call, call_async, call_sync
from ..dto import requests as dto
from ..ascii import Device
from ..units import TimeUnits, Units


class CameraTrigger:
<%- include('../docstring_simple.ejs', {type: definitions.classes.cameraTrigger, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.cameraTrigger}) -%>
