<%- include('../generated.ejs') %>
# pylint: disable=W0622

from ..call import call, call_async, call_sync
from ..dto import requests as dto
from ..ascii import Device


class FilterChanger:
<%- include('../docstring_simple.ejs', {type: definitions.classes.filterChanger, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.filterChanger}) -%>
