<%- include('../generated.ejs') %>

from ..call import call, call_async, call_sync
from ..dto import requests as dto
from ..ascii import DeviceIO, Connection, Device
from .illuminator_channel import IlluminatorChannel


class Illuminator:
<%- include('../docstring_simple.ejs', {type: definitions.classes.illuminator, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.illuminator}) -%>
