<%- include('../generated.ejs') %>

from typing import TYPE_CHECKING, List, Optional
from ..call import call, call_async, call_sync
from ..dto import requests as dto
from ..dto.ascii.response import Response
from ..ascii import Axis, AxisSettings, AxisStorage, Warnings
from ..dto.ascii.set_state_axis_response import SetStateAxisResponse
from ..dto.firmware_version import FirmwareVersion

if TYPE_CHECKING:
    from .illuminator import Illuminator


class IlluminatorChannel:
<%- include('../docstring_simple.ejs', {type: definitions.classes.illuminatorChannel, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.illuminatorChannel}) -%>
