<%- include('../generated.ejs') %>

from typing import Optional
from ..call import call, call_async, call_sync
from ..dto import requests as dto
from ..ascii import Connection, Device, Axis, AxisGroup
from .illuminator import Illuminator
from .filter_changer import FilterChanger
from .objective_changer import ObjectiveChanger
from .autofocus import Autofocus
from .camera_trigger import CameraTrigger
from ..dto.microscopy.microscope_config import MicroscopeConfig
from ..dto.microscopy.third_party_components import ThirdPartyComponents


class Microscope:
<%- include('../docstring_simple.ejs', {type: definitions.classes.microscope, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.microscope}) -%>
