<%- include('../generated.ejs') %>

from typing import Optional
from ..call import call, call_async, call_sync
from ..dto import requests as dto
from ..dto.measurement import Measurement
from ..ascii import Connection, Device, Axis
from ..units import Units, LengthUnits


class ObjectiveChanger:
<%- include('../docstring_simple.ejs', {type: definitions.classes.objectiveChanger, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.objectiveChanger}) -%>
