<%- include('../generated.ejs') %>

from typing import Generator, Any, Optional, List
import asyncio

from ..call import call, call_async, call_sync
from ..exceptions.motion_lib_exception import MotionLibException

from ..dto import requests as dto
from ..dto.microscopy.wdi_autofocus_provider_status import WdiAutofocusProviderStatus


class WdiAutofocusProvider:
<%- include('../docstring_simple.ejs', {type: definitions.classes.wdiAutofocus, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.wdiAutofocus}) -%>

    def __enter__(self) -> 'WdiAutofocusProvider':
        """ __enter__ """
        return self

    def __exit__(self, _type: Any, _value: Any, _traceback: Any) -> None:
        """ __exit__ """
        self.close()


<%- include('../async_context_manager.ejs', {
    fn: definitions.classes.wdiAutofocus.functions.find(fn => fn.name === 'OpenTcp'),
}) -%>
