// This file is generated from the Zaber device database. Do not manually edit this file.

package zaber.motion;

/**
* Units used by various functions.
*/
public enum Units {

    NATIVE(""),

<% const unitsByDimensionsPairs = _.toPairs(unitsByDimensions);
unitsByDimensionsPairs.forEach(([dimensionId, dimensionUnits], dimensionIndex) => {
const isLastDimension = unitsByDimensionsPairs.length - 1 === dimensionIndex;

const dimension = dimensions[dimensionId];

const uniqueUnits = _.uniqBy(dimensionUnits, 'LongName');

uniqueUnits.forEach((unit, unitIndex) => {
  const isLastUnit = uniqueUnits.length - 1 === unitIndex;

  const name = unitName.java(dimension, unit);
  const id = `${dimension.DimensionName}:${unit.LongName}`; -%>
    /**
    * Dimension: <%- dimension.DimensionName %>, unit: <%- unit.LongName %>
    */
    <%- name %>("<%- id %>")<%- isLastDimension && isLastUnit ? ';' : ',' %>

<%
});
}); -%>

    private String name;

    Units(String name) {
        this.name = name;
    }

    @com.fasterxml.jackson.annotation.JsonValue
    public String getName() {
        return name;
    }

    public static Units fromName(String name) {
        for (Units unit : Units.values()) {
            if (unit.name.equals(name)) {
                return unit;
            }
        }
        return Units.NATIVE;
    }
}
