# This file is generated from the Zaber device database. Do not manually edit this file.
# pylint: disable=line-too-long, too-many-branches, too-many-return-statements
<%
const dimensionAndUnits = _.toPairs(unitsByDimensions).map(
  ([dimensionId, dimensionUnits]) => ([dimensions[dimensionId], _.uniqBy(dimensionUnits, 'LongName')]));
%>
from enum import Enum
from typing import Union, Literal


class Units(Enum):
    NATIVE = ''

<% for (const [dimension, units] of dimensionAndUnits) {
  for (const unit of units) {
    const name = unitName.py(dimension, unit);
    const id = `${dimension.DimensionName}:${unit.LongName}`; -%>
    <%- name %> = '<%- id %>'
<% } %>
<% } -%>

<%
function getLiterals(pickedDimensions) {
  const literals = [];
  for (const [dimension, units] of dimensionAndUnits) {
    if (!pickedDimensions.includes(dimension.DimensionName)) {
      continue;
    }
    for (const unit of units) {
      literals.push(...makeShortNameVariants(unit.ShortName));
    }
  }
  return literals.map(literal => `"${literal}"`).join(', ')
} -%>
UnitsAndLiterals = Union[Units, Literal[<%- getLiterals(LITERAL_DIMENSIONS) %>]]
LengthUnits = Union[Units, Literal[<%- getLiterals(['Length', 'Angle']) %>]]
VelocityUnits = Union[Units, Literal[<%- getLiterals(['Velocity', 'Angular Velocity']) %>]]
AccelerationUnits = Union[Units, Literal[<%- getLiterals(['Acceleration', 'Angular Acceleration']) %>]]
TimeUnits = Union[Units, Literal[<%- getLiterals(['Time']) %>]]
FrequencyUnits = Union[Units, Literal[<%- getLiterals(['Frequency']) %>]]

LITERALS_TO_UNITS = {
<% for (const [dimension, units] of dimensionAndUnits) {
  if (!LITERAL_DIMENSIONS.includes(dimension.DimensionName)) {
    continue;
  }
  for (const unit of units) {
    const name = unitName.py(dimension, unit);
    for (const variant of makeShortNameVariants(unit.ShortName)) {-%>
    "<%- variant %>": Units.<%- name %>,
<%  }
  }
} -%>
}


def units_from_literals(units: UnitsAndLiterals) -> Units:
    if isinstance(units, Units):
        return units

    converted = LITERALS_TO_UNITS.get(units)
    if converted is None:
        raise ValueError(f"Invalid units: {units}")

    return converted
