<%- include('../generated.ejs') %>

from typing import List, Optional
from ..call import call, call_async, call_sync

from ..dto import requests as dto
from ..units import LengthUnits, VelocityUnits
from ..ascii import Device
from ..dto.gcode.device_definition import DeviceDefinition
from ..dto.gcode.translator_config import TranslatorConfig
from ..dto.gcode.translate_result import TranslateResult


class OfflineTranslator:
<%- include('../docstring_simple.ejs', {type: definitions.classes.offlineTranslator, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.offlineTranslator}) -%>

    def __del__(self) -> None:
        OfflineTranslator.__free(self.translator_id)
