<%- include('../generated.ejs') %>

from typing import List, Optional
from ..call import call, call_async, call_sync

from ..dto import requests as dto
from ..units import LengthUnits, VelocityUnits
from ..ascii import Stream
from ..dto.gcode.translator_config import TranslatorConfig
from ..dto.gcode.translate_result import TranslateResult


class Translator:
<%- include('../docstring_simple.ejs', {type: definitions.classes.translator, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.translator}) -%>

    def __del__(self) -> None:
        Translator.__free(self.translator_id)
