<%- include('../generated.ejs') %>

import UnitsInternal
import DtoRequests
import ZaberMotionExceptions
import Gateway
import ZaberMotionAscii

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.cameraTrigger, indent: 0, isFunction: false}) %>
public final class CameraTrigger: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.cameraTrigger}) -%>
}
