<%- include('../generated.ejs') %>

import DtoRequests
import ZaberMotionExceptions
import Gateway
import ZaberMotionAscii

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.filterChanger, indent: 0, isFunction: false}) %>
public final class FilterChanger: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.filterChanger}) -%>
}

