<%- include('../generated.ejs') %>

import Dto
import DtoRequests
import ZaberMotionExceptions
import Gateway
import ZaberMotionAscii
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.microscope, indent: 0, isFunction: false}) %>
public final class Microscope: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.microscope}) -%>
}
