<%- include('../generated.ejs') %>

import UnitsInternal
import Dto
import DtoRequests
import ZaberMotionExceptions
import Gateway
import ZaberMotionAscii
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.objectiveChanger, indent: 0, isFunction: false}) %>
public final class ObjectiveChanger: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.objectiveChanger}) -%>
}
