<%- include('../generated.ejs') %>

import Darwin
import Dto
import DtoRequests
import ZaberMotionExceptions
import Gateway
import ZaberMotionAscii
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.wdiAutofocus, indent: 0, isFunction: false}) %>
public final class WdiAutofocusProvider: @unchecked Sendable  {

<%- include('../class.ejs', {type: definitions.classes.wdiAutofocus}) -%>
<%- -%>
    public func closeSync() throws  {
        var request = DtoRequests.InterfaceEmptyRequest()
        request.interfaceId = self.providerId

        try Gateway.callSync("wdi/close", request)
    }

    deinit {
        guard self.providerId >= 0 else { return }

        do {
            try closeSync()
        } catch let e as MotionLibException {
            fputs("ZML Error: \(e.toString())", stderr)
        } catch {
            fputs("System Error: \(error)", stderr)
        }
    }
}
