<%- include('../generated.ejs') %>
// NOLINTBEGIN(bugprone-exception-escape)

#include <cstdint>

#include "zaber/motion/binary/connection.h"
#include "zaber/motion/binary/device.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/gateway/event_manager.h"
#include "zaber/motion/utils/functional_utils.h"
#include "zaber/motion/dto/binary/command_code.h"
#include "zaber/motion/dto/binary/message.h"
#include "zaber/motion/exceptions/convert_exception.h"
#include "zaber/motion/exceptions/invalid_argument_exception.h"


namespace zaber { namespace motion { namespace binary {

Connection::Connection(int interfaceId): BaseConnection(interfaceId) { }
<%- include('../class.ejs', {type: definitions.cppBinaryConnections.derived}) -%>
Connection& Connection::operator=(Connection&& other) noexcept {
    if (this != &other) {
        if (_interfaceId >= 0) {
            close();
            _interfaceId = -1;
        }

        resetEventHandlers();
        std::swap(_interfaceId, other._interfaceId);
        std::swap(_unknownResponseHandler, other._unknownResponseHandler);
        std::swap(_replyOnlyEventHandler, other._replyOnlyEventHandler);
        std::swap(_disconnectedHandler, other._disconnectedHandler);
    }
    return *this;
}

Connection::Connection(Connection&& other) noexcept: BaseConnection() {
    *this = std::move(other);
}

Connection::~Connection() {
    if (_interfaceId >= 0) {
        close();
    }
    resetEventHandlers();
}

void Connection::setUnknownResponseCallback(std::function<void(const UnknownResponseEvent&)> callback) {
    if (_unknownResponseHandler) {
        _unknownResponseHandler->setCallback(std::move(callback));
    } else {
        int interfaceId = _interfaceId;
        auto filter = [=](const SdkEvent& event) {
            return event.getInterfaceId() == interfaceId && event.getEventType() == SdkEvent::EventType::UNKNOWN_BINARY_RESPONSE;
        };
        static auto mutator = [](const SdkEvent& event) {
            return std::static_pointer_cast<requests::UnknownBinaryResponseEventWrapper>(event.getEventData())->getUnknownResponse();
        };
        _unknownResponseHandler = EventManager::getSingleton().createEventHandler<UnknownResponseEvent>(callback, filter, mutator);
    }
}

void Connection::setReplyOnlyCallback(std::function<void(const ReplyOnlyEvent&)> callback) {
    if (_replyOnlyEventHandler) {
        _replyOnlyEventHandler->setCallback(std::move(callback));
    } else {
        int interfaceId = _interfaceId;
        auto filter = [=](const SdkEvent& event) {
            return event.getInterfaceId() == interfaceId && event.getEventType() == SdkEvent::EventType::BINARY_REPLY_ONLY;
        };
        static auto mutator = [](const SdkEvent& event) {
            return std::static_pointer_cast<requests::BinaryReplyOnlyEventWrapper>(event.getEventData())->getReply();
        };
        _replyOnlyEventHandler = EventManager::getSingleton().createEventHandler<ReplyOnlyEvent>(callback, filter, mutator);
    }
}

void Connection::setDisconnectedCallback(std::function<void(const std::shared_ptr<exceptions::MotionLibException>&)> callback) {
    if (_disconnectedHandler) {
        _disconnectedHandler->setCallback(std::move(callback));
    } else {
        int interfaceId = _interfaceId;
        auto filter = [=](const SdkEvent& event) {
            return event.getInterfaceId() == interfaceId && event.getEventType() == SdkEvent::EventType::DISCONNECTED;
        };
        static auto mutator = [](const SdkEvent& event) {
            std::shared_ptr<requests::DisconnectedEvent> e = std::static_pointer_cast<requests::DisconnectedEvent>(event.getEventData());
            return exceptions::convertExceptionSP(e->getErrorType(), e->getErrorMessage());
        };
        _disconnectedHandler = EventManager::getSingleton()
            .createEventHandler<std::shared_ptr<exceptions::MotionLibException>>(callback, filter, mutator);
    }
}

void Connection::resetEventHandlers() {
    if (_unknownResponseHandler) {
        _unknownResponseHandler->setCallback(nullptr);
        _unknownResponseHandler = nullptr;
    }
    if (_replyOnlyEventHandler) {
        _replyOnlyEventHandler->setCallback(nullptr);
        _replyOnlyEventHandler = nullptr;
    }
    if (_disconnectedHandler) {
        _disconnectedHandler->setCallback(nullptr);
        _disconnectedHandler = nullptr;
    }
}
<%- include('../class.ejs', {type: definitions.cppBinaryConnections.base}) -%>

}  // namespace binary
}  // namespace motion
}  // namespace zaber

// NOLINTEND(bugprone-exception-escape)
