<%- include('../generated.ejs') %>
#pragma once

#include <memory>
#include <string>
#include <vector>

#include "zaber/motion/gateway/event_handler.h"
#include "zaber/motion/dto/binary/reply_only_event.h"
#include "zaber/motion/dto/binary/unknown_response_event.h"
#include "zaber/motion/exceptions/motion_lib_exception.h"

namespace zaber {
namespace motion {
namespace binary {

/* Forward Declarations */
enum class CommandCode;
class Device;
class Message;

<%- include('../constant.ejs', {type: definitions.classes.binaryConnection}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.cppBinaryConnections.base, indent: 0}) %>
class BaseConnection {
<%- include('../classh.ejs', {type: definitions.cppBinaryConnections.base}) -%>

public:
    BaseConnection(): _interfaceId(-1) {};
    virtual ~BaseConnection() = default;
};


<%- include('../cppdoc_simple.ejs', {type: definitions.cppBinaryConnections.derived, indent: 0}) %>
class Connection : public BaseConnection {
<%- include('../classh.ejs', {type: definitions.cppBinaryConnections.derived}) -%>

public:
    Connection() = default;
    Connection(int interfaceId);
    ~Connection();

    Connection(Connection&& other) noexcept;
    Connection& operator=(Connection&& other) noexcept;

    void setUnknownResponseCallback(std::function<void(const UnknownResponseEvent&)> callback);
    void setReplyOnlyCallback(std::function<void(const ReplyOnlyEvent&)> callback);
    void setDisconnectedCallback(std::function<void(const  std::shared_ptr<exceptions::MotionLibException>&)> callback);

private:
    std::shared_ptr<EventHandler<UnknownResponseEvent>> _unknownResponseHandler;
    std::shared_ptr<EventHandler<ReplyOnlyEvent>> _replyOnlyEventHandler;
    std::shared_ptr<EventHandler<std::shared_ptr<exceptions::MotionLibException>>> _disconnectedHandler;

    void resetEventHandlers();
};

}  // Namespace binary
}  // Namespace motion
}  // Namespace zaber
