<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <optional>

#include "zaber/motion/units.h"
#include "zaber/motion/binary/connection.h"
#include "zaber/motion/dto/firmware_version.h"


namespace zaber {
namespace motion {

/* Forward Declarations */
class FirmwareVersion;


namespace binary {

/* Forward Declarations */
enum class BinarySettings;
enum class CommandCode;
enum class DeviceType;
class DeviceIdentity;
class Message;
class DeviceSettings;

<%- include('../constant.ejs', {type: definitions.classes.binaryDevice}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.binaryDevice, indent: 0}) %>
class Device {
<%- include('../classh.ejs', {type: definitions.classes.binaryDevice}) -%>
};


}  // Namespace binary
}  // Namespace motion
}  // Namespace zaber
