<%- include('../generated.ejs') %>

#include "zaber/motion/dto/binary/binary_settings.h"
#include "zaber/motion/binary/device_settings.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"

#include <cstdint>


namespace zaber { namespace motion { namespace binary {
<%- include('../class.ejs', {type: definitions.classes.binaryDeviceSettings}) -%>
}  // namespace binary
}  // namespace motion
}  // namespace zaber
