<%- include('../generated.ejs') %>

#include "zaber/motion/binary/device.h"
#include "zaber/motion/dto/binary/binary_settings.h"
#include "zaber/motion/dto/binary/command_code.h"
#include "zaber/motion/dto/binary/device_identity.h"
#include "zaber/motion/binary/device_settings.h"
#include "zaber/motion/dto/binary/device_type.h"
#include "zaber/motion/dto/binary/message.h"
#include "zaber/motion/dto/firmware_version.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"

#include <cstdint>


namespace zaber { namespace motion { namespace binary {
<%- include('../class.ejs', {type: definitions.classes.binaryDevice}) -%>
}  // namespace binary
}  // namespace motion
}  // namespace zaber
