<%- include('../generated.ejs') %>
#pragma once

#include "zaber/motion/units.h"
#include "zaber/motion/binary/device.h"

namespace zaber {
namespace motion {
namespace binary {

/* Forward Declarations */
enum class BinarySettings;

<%- include('../constant.ejs', {type: definitions.classes.binaryDeviceSettings}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.binaryDeviceSettings, indent: 0}) %>
class DeviceSettings {
<%- include('../classh.ejs', {type: definitions.classes.binaryDeviceSettings}) -%>
};


}  // Namespace binary
}  // Namespace motion
}  // Namespace zaber
