<%- include('../generated.ejs') %>

#include "zaber/motion/ascii/all_axes.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"

namespace zaber { namespace motion { namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.allAxes}) -%>
}  // namespace ascii
}  // namespace motion
}  // namespace zaber
