<%- include('../generated.ejs') %>
#pragma once

#include <string>

#include "zaber/motion/ascii/device.h"


namespace zaber {
namespace motion {
namespace ascii {

<%- include('../constant.ejs', {type: definitions.classes.allAxes}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.allAxes, indent: 0}) %>
class AllAxes {
<%- include('../classh.ejs', {type: definitions.classes.allAxes}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
