<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <vector>

#include "zaber/motion/units.h"
#include "zaber/motion/ascii/axis.h"
#include "zaber/motion/dto/ascii/get_axis_setting.h"
#include "zaber/motion/dto/ascii/get_axis_setting_result.h"


namespace zaber {
namespace motion {
namespace ascii {

/* Forward Declarations */
class ConversionFactor;

<%- include('../constant.ejs', {type: definitions.classes.axisSettings}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.axisSettings, indent: 0}) %>
class AxisSettings {
<%- include('../classh.ejs', {type: definitions.classes.axisSettings}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
