<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <vector>

#include "zaber/motion/units.h"
#include "zaber/motion/ascii/axis.h"


namespace zaber {
namespace motion {
namespace ascii {

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.axisGroup, indent: 0}) %>
class AxisGroup {
<%- include('../classh.ejs', {type: definitions.classes.axisGroup}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
