<%- include('../generated.ejs') %>

#include "zaber/motion/ascii/axis.h"
#include "zaber/motion/dto/ascii/axis_identity.h"
#include "zaber/motion/ascii/axis_settings.h"
#include "zaber/motion/dto/ascii/axis_type.h"
#include "zaber/motion/dto/ascii/response.h"
#include "zaber/motion/ascii/storage.h"
#include "zaber/motion/ascii/warnings.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/measurement.h"
#include "zaber/motion/dto/requests/includes.h"


namespace zaber { namespace motion { namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.axis}) -%>
}  // namespace ascii
}  // namespace motion
}  // namespace zaber
