<%- include('../generated.ejs') %>
#pragma once

#include <initializer_list>
#include <string>
#include <utility>
#include <vector>

#include "zaber/motion/ascii/device.h"
#include "zaber/motion/units.h"


namespace zaber {
namespace motion {

/* Forward Declarations */
class Measurement;

namespace ascii {

/* Forward Declarations */
enum class AxisType;
class AxisIdentity;
class Response;
class AxisSettings;
class AxisStorage;
class Warnings;

<%- include('../constant.ejs', {type: definitions.classes.axis}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.axis, indent: 0}) %>
class Axis {
<%- include('../classh.ejs', {type: definitions.classes.axis}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
