<%- include('../generated.ejs') %>

#include "zaber/motion/ascii/axis_settings.h"
#include "zaber/motion/dto/ascii/conversion_factor.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"


namespace zaber { namespace motion { namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.axisSettings}) -%>
}  // namespace ascii
}  // namespace motion
}  // namespace zaber
