<%- include('../generated.ejs') %>
#pragma once

#include <memory>
#include <string>
#include <vector>
#include <optional>
#include <functional>

#include "zaber/motion/gateway/event_handler.h"
#include "zaber/motion/dto/requests/alert_event_wrapper.h"
#include "zaber/motion/dto/requests/unknown_response_event_wrapper.h"
#include "zaber/motion/exceptions/motion_lib_exception.h"

namespace zaber {
namespace motion {

namespace ascii {

/* Forward Declarations */
class Device;
class Response;
class Transport;

<%- include('../constant.ejs', {type: definitions.classes.connection}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.cppConnections.base, indent: 0}) %>
class BaseConnection {
<%- include('../classh.ejs', {type: definitions.cppConnections.base}) -%>

public:
    BaseConnection(): _interfaceId(-1) {};
    virtual ~BaseConnection() = default;
};


<%- include('../cppdoc_simple.ejs', {type: definitions.cppConnections.derived, indent: 0}) %>
class Connection : public BaseConnection {
<%- include('../classh.ejs', {type: definitions.cppConnections.derived}) -%>

public:
    Connection() = default;
    Connection(int interfaceId);
    ~Connection();

    Connection(Connection&& other) noexcept;
    Connection& operator=(Connection&& other) noexcept;

    void setUnknownResponseCallback(std::function<void(const UnknownResponseEvent&)> callback);
    void setAlertCallback(std::function<void(const AlertEvent&)> callback);
    void setDisconnectedCallback(std::function<void(const std::shared_ptr<exceptions::MotionLibException>&)> callback);

private:
    std::shared_ptr<EventHandler<UnknownResponseEvent>> _unknownResponseHandler = nullptr;
    std::shared_ptr<EventHandler<AlertEvent>> _alertEventHandler = nullptr;
    std::shared_ptr<EventHandler<std::shared_ptr<exceptions::MotionLibException>>> _disconnectedHandler = nullptr;

    void resetEventHandlers();
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
