<%- include('../generated.ejs') %>
#pragma once

#include <vector>

#include "zaber/motion/units.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/dto/ascii/digital_output_action.h"
#include "zaber/motion/dto/ascii/io_port_label.h"

namespace zaber {
namespace motion {
namespace ascii {

/* Forward Declarations */
class DeviceIOInfo;

<%- include('../constant.ejs', {type: definitions.classes.deviceIO}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.deviceIO, indent: 0}) %>
class DeviceIO {
<%- include('../classh.ejs', {type: definitions.classes.deviceIO}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
