<%- include('../generated.ejs') %>

#include "zaber/motion/exceptions/invalid_argument_exception.h"
#include "zaber/motion/ascii/device_io.h"
#include "zaber/motion/dto/ascii/device_io_info.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"

#include <algorithm>


namespace zaber { namespace motion { namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.deviceIO}) -%>
}  // namespace ascii
}  // namespace motion
}  // namespace zaber
