<%- include('../generated.ejs') %>

#include "zaber/motion/ascii/device.h"
#include "zaber/motion/ascii/all_axes.h"
#include "zaber/motion/ascii/axis.h"
#include "zaber/motion/dto/ascii/device_identity.h"
#include "zaber/motion/ascii/device_io.h"
#include "zaber/motion/ascii/device_settings.h"
#include "zaber/motion/ascii/lockstep.h"
#include "zaber/motion/ascii/oscilloscope.h"
#include "zaber/motion/ascii/pvt.h"
#include "zaber/motion/dto/ascii/response.h"
#include "zaber/motion/ascii/storage.h"
#include "zaber/motion/ascii/warnings.h"
#include "zaber/motion/ascii/triggers.h"
#include "zaber/motion/ascii/streams.h"
#include "zaber/motion/exceptions/invalid_argument_exception.h"
#include "zaber/motion/dto/firmware_version.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/measurement.h"
#include "zaber/motion/dto/requests/includes.h"


namespace zaber { namespace motion { namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.device}) -%>
}  // namespace ascii
}  // namespace motion
}  // namespace zaber
