<%- include('../generated.ejs') %>
#pragma once

#include <string>

#include "zaber/motion/units.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/dto/ascii/get_setting.h"
#include "zaber/motion/dto/ascii/get_setting_result.h"


namespace zaber {
namespace motion {
namespace ascii {

<%- include('../constant.ejs', {type: definitions.classes.deviceSettings}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.deviceSettings, indent: 0}) %>
class DeviceSettings {
<%- include('../classh.ejs', {type: definitions.classes.deviceSettings}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
