<%- include('../generated.ejs') %>
#pragma once

#include <initializer_list>
#include <string>
#include <utility>
#include <vector>
#include <optional>

#include "zaber/motion/units.h"
#include "zaber/motion/dto/ascii/can_set_state_device_response.h"
#include "zaber/motion/dto/ascii/set_state_device_response.h"
#include "zaber/motion/ascii/connection.h"
#include "zaber/motion/dto/firmware_version.h"


namespace zaber {
namespace motion {

/* Forward Declarations */
class Measurement;


namespace ascii {

/* Forward Declarations */
class Response;
class Axis;
class DeviceIdentity;
class Lockstep;
class DeviceSettings;
class DeviceStorage;
class DeviceIO;
class AllAxes;
class Warnings;
class Oscilloscope;
class Pvt;
class Triggers;
class Streams;

<%- include('../constant.ejs', {type: definitions.classes.device}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.device, indent: 0}) %>
class Device {
<%- include('../classh.ejs', {type: definitions.classes.device}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
