<%- include('../generated.ejs') %>

#include "zaber/motion/ascii/lockstep.h"
#include "zaber/motion/dto/ascii/lockstep_axes.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"


namespace zaber { namespace motion { namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.lockstep}) -%>
}  // namespace ascii
}  // namespace motion
}  // namespace zaber
