<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <vector>

#include "zaber/motion/units.h"
#include "zaber/motion/ascii/device.h"


namespace zaber {
namespace motion {
namespace ascii {

/* Forward Declarations */
class LockstepAxes;

<%- include('../constant.ejs', {type: definitions.classes.lockstep}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.lockstep, indent: 0}) %>
class Lockstep {
<%- include('../classh.ejs', {type: definitions.classes.lockstep}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
