<%- include('../generated.ejs') %>

#include "zaber/motion/ascii/oscilloscope.h"
#include "zaber/motion/utils/functional_utils.h"
#include "zaber/motion/ascii/oscilloscope_data.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"


namespace zaber { namespace motion { namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.oscilloscope}) -%>
}  // namespace ascii
}  // namespace motion
}  // namespace zaber
