<%- include('../generated.ejs') %>
#pragma once

#include "zaber/motion/units.h"
#include <string>
#include <vector>

#include "zaber/motion/dto/ascii/io_port_type.h"
#include "zaber/motion/dto/ascii/oscilloscope_data_source.h"

namespace zaber {
namespace motion {
namespace ascii {

/* Forward Declarations */
class OscilloscopeCaptureProperties; // Defined in ascii/oscilloscope_capture_properties.h

<%- include('../constant.ejs', {type: definitions.classes.oscilloscopeData}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.oscilloscopeData, indent: 0}) %>
class OscilloscopeData {
<%- include('../classh.ejs', {type: definitions.classes.oscilloscopeData}) -%>
public:
    OscilloscopeData(): _dataId(-1) {};
    ~OscilloscopeData();
    OscilloscopeData(OscilloscopeData&& other) noexcept;
    OscilloscopeData& operator=(OscilloscopeData&& other) noexcept;
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
