<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <vector>

#include "zaber/motion/units.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/dto/ascii/io_port_type.h"


namespace zaber {
namespace motion {
namespace ascii {

/* Forward Declarations */
class OscilloscopeData; // Defined in ascii/oscilloscope_data.h

<%- include('../constant.ejs', {type: definitions.classes.oscilloscope}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.oscilloscope, indent: 0}) %>
class Oscilloscope {
<%- include('../classh.ejs', {type: definitions.classes.oscilloscope}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
