<%- include('../generated.ejs') %>

#include "zaber/motion/ascii/oscilloscope_data.h"
#include "zaber/motion/dto/ascii/oscilloscope_capture_properties.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"


namespace zaber { namespace motion { namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.oscilloscopeData}) -%>

OscilloscopeData& OscilloscopeData::operator=(OscilloscopeData&& other) noexcept {
    if (this != &other) {
        if (this->_dataId >= 0) {
            OscilloscopeData::free(this->_dataId);
            this->_dataId = -1;
        }

        std::swap(_dataId, other._dataId);
    }
    return *this;
}

OscilloscopeData::OscilloscopeData(OscilloscopeData&& other) noexcept: _dataId(-1) {
    *this = std::move(other);
}

OscilloscopeData::~OscilloscopeData() {
    if (this->_dataId >= 0) {
        OscilloscopeData::free(this->_dataId);
    }
}
}  // namespace ascii
}  // namespace motion
}  // namespace zaber
