<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <vector>

#include "zaber/motion/ascii/device.h"

namespace zaber {
namespace motion {
namespace ascii {

class PvtSequence;
class PvtBuffer;

<%- include('../constant.ejs', {type: definitions.classes.pvt}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.pvt, indent: 0}) %>
class Pvt {
<%- include('../classh.ejs', {type: definitions.classes.pvt}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
