<%- include('../generated.ejs') %>

#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"

#include "zaber/motion/ascii/pvt.h"
#include "zaber/motion/ascii/pvt_buffer.h"
#include "zaber/motion/ascii/pvt_sequence.h"

#include "zaber/motion/exceptions/invalid_argument_exception.h"

namespace zaber { namespace motion { namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.pvt}) -%>
}  // namespace ascii
}  // namespace motion
}  // namespace zaber
