<%- include('../generated.ejs') %>

#include "zaber/motion/ascii/pvt_io.h"
#include "zaber/motion/exceptions/invalid_argument_exception.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"


namespace zaber {
namespace motion {
namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.pvtIo}) -%>

}  // namespace ascii
}  // namespace motion
}  // namespace zaber
