<%- include('../generated.ejs') %>
#pragma once

#include "zaber/motion/dto/ascii/pvt_mode.h"
#include "zaber/motion/dto/ascii/pvt_axis_definition.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/ascii/pvt_io.h"
#include "zaber/motion/dto/ascii/digital_output_action.h"
#include <string>
#include <vector>
#include <optional>


namespace zaber {
namespace motion {

class Measurement;

namespace ascii {

/* Forward Declarations */
class PvtBuffer;

<%- include('../constant.ejs', {type: definitions.classes.pvtSequence}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.pvtSequence, indent: 0}) %>
class PvtSequence {
<%- include('../classh.ejs', {type: definitions.classes.pvtSequence}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
