<%- include('../generated.ejs') %>
#pragma once

#include "zaber/motion/units.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/dto/ascii/digital_output_action.h"
#include <string>
#include <vector>


namespace zaber {
namespace motion {
namespace ascii {

<%- include('../constant.ejs', {type: definitions.classes.pvtIo}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.pvtIo, indent: 0}) %>
class PvtIo {
<%- include('../classh.ejs', {type: definitions.classes.pvtIo}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
