<%- include('../generated.ejs') %>
#pragma once

#include "zaber/motion/units.h"
#include <string>
#include <vector>

#include "zaber/motion/dto/ascii/servo_tuning_paramset.h"
#include "zaber/motion/dto/ascii/paramset_info.h"
#include "zaber/motion/dto/ascii/pid_tuning.h"
#include "zaber/motion/dto/ascii/servo_tuning_param.h"
#include "zaber/motion/dto/ascii/simple_tuning_param_definition.h"
#include "zaber/motion/ascii/axis.h"
#include "zaber/motion/dto/ascii/simple_tuning.h"


namespace zaber {
namespace motion {
namespace ascii {

<%- include('../constant.ejs', {type: definitions.classes.servoTuner}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.servoTuner, indent: 0}) %>
class ServoTuner {
<%- include('../classh.ejs', {type: definitions.classes.servoTuner}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
