<%- include('../generated.ejs') %>

#include "zaber/motion/ascii/storage.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"



namespace zaber { namespace motion { namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.axisStorage}) -%>
}  // namespace ascii
}  // namespace motion
}  // namespace zaber

namespace zaber { namespace motion { namespace ascii {
  <%- include('../class.ejs', {type: definitions.classes.deviceStorage}) -%>
  }  // namespace ascii
  }  // namespace motion
  }  // namespace zaber
