<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <vector>

#include "zaber/motion/units.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/ascii/axis.h"

namespace zaber {
namespace motion {
namespace ascii {

<%- include('../constant.ejs', {type: definitions.classes.axisStorage}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.axisStorage, indent: 0}) %>
class AxisStorage {
<%- include('../classh.ejs', {type: definitions.classes.axisStorage}) -%>
};


<%- include('../constant.ejs', {type: definitions.classes.deviceStorage}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.deviceStorage, indent: 0}) %>
class DeviceStorage {
<%- include('../classh.ejs', {type: definitions.classes.deviceStorage}) -%>
};

}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
