<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <vector>

#include "zaber/motion/ascii/device.h"
#include "zaber/motion/ascii/stream.h"
#include "zaber/motion/ascii/stream.h"
#include "zaber/motion/ascii/stream_buffer.h"

namespace zaber {
namespace motion {
namespace ascii {

<%- include('../constant.ejs', {type: definitions.classes.streams}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.streams, indent: 0}) %>
class Streams {
<%- include('../classh.ejs', {type: definitions.classes.streams}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
