<%- include('../generated.ejs') %>
#pragma once

#include "zaber/motion/ascii/connection.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"

namespace zaber {
namespace motion {
namespace ascii {

/* Forward Declarations */
class StreamBuffer;

<%- include('../constant.ejs', {type: definitions.classes.streamBuffer}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.streamBuffer, indent: 0}) %>
class StreamBuffer {
<%- include('../classh.ejs', {type: definitions.classes.streamBuffer}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
