<%- include('../generated.ejs') %>
#pragma once

#include "zaber/motion/units.h"
#include "zaber/motion/dto/rotation_direction.h"
#include "zaber/motion/dto/ascii/stream_mode.h"
#include "zaber/motion/dto/ascii/stream_axis_definition.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/ascii/stream_io.h"
#include "zaber/motion/dto/ascii/digital_output_action.h"
#include <string>
#include <vector>


namespace zaber {
namespace motion {

class Measurement;

namespace ascii {

/* Forward Declarations */
class StreamBuffer;

<%- include('../constant.ejs', {type: definitions.classes.stream}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.stream, indent: 0}) %>
class Stream {
<%- include('../classh.ejs', {type: definitions.classes.stream}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
