<%- include('../generated.ejs') %>

#include "zaber/motion/ascii/transport.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"



namespace zaber { namespace motion { namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.transport}) -%>

Transport& Transport::operator=(Transport&& other) noexcept {
    if (this != &other) {
        if (this->_transportId >= 0) {
            this->close();
            this->_transportId = -1;
        }

        std::swap(_transportId, other._transportId);
    }
    return *this;
}

Transport::Transport (Transport&& other) noexcept: _transportId(-1) {
    *this = std::move(other);
}

Transport::~Transport() {
    if (this->_transportId >= 0) {
        this->close();
    }
}

}  // namespace ascii
}  // namespace motion
}  // namespace zaber
