<%- include('../generated.ejs') %>
#pragma once

#include <string>

namespace zaber {
namespace motion {
namespace ascii {

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.transport, indent: 0}) %>
class Transport {
<%- include('../classh.ejs', {type: definitions.classes.transport}) -%>

public:
    Transport(): _transportId(-1) {};
    ~Transport();
    Transport (Transport&& other) noexcept;
    Transport& operator=(Transport&& other) noexcept;
};

}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
