<%- include('../generated.ejs') %>

#include "zaber/motion/exceptions/invalid_argument_exception.h"
#include "zaber/motion/ascii/triggers.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"


namespace zaber { namespace motion { namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.triggers}) -%>
}  // namespace ascii
}  // namespace motion
}  // namespace zaber
