<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <vector>

#include "zaber/motion/ascii/device.h"
#include "zaber/motion/ascii/trigger.h"
#include "zaber/motion/dto/ascii/trigger_state.h"
#include "zaber/motion/dto/ascii/trigger_enabled_state.h"

namespace zaber {
namespace motion {
namespace ascii {

<%- include('../constant.ejs', {type: definitions.classes.triggers}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.triggers, indent: 0}) %>
class Triggers {
<%- include('../classh.ejs', {type: definitions.classes.triggers}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
