<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <vector>

#include "zaber/motion/units.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/dto/ascii/trigger_state.h"
#include "zaber/motion/dto/ascii/trigger_enabled_state.h"
#include "zaber/motion/dto/ascii/io_port_type.h"
#include "zaber/motion/dto/ascii/trigger_condition.h"
#include "zaber/motion/dto/ascii/trigger_action.h"
#include "zaber/motion/dto/ascii/trigger_operation.h"


namespace zaber {
namespace motion {
namespace ascii {

<%- include('../constant.ejs', {type: definitions.classes.trigger}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.trigger, indent: 0}) %>
class Trigger {
<%- include('../classh.ejs', {type: definitions.classes.trigger}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
