<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <unordered_set>

#include "zaber/motion/ascii/device.h"


namespace zaber {
namespace motion {
namespace ascii {

<%- include('../constant.ejs', {type: definitions.classes.warnings}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.warnings, indent: 0}) %>
class Warnings {
<%- include('../classh.ejs', {type: definitions.classes.warnings}) -%>
};


}  // Namespace ascii
}  // Namespace motion
}  // Namespace zaber
