<%- include('../generated.ejs') %>

#include "zaber/motion/ascii/warnings.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"



namespace zaber { namespace motion { namespace ascii {
<%- include('../class.ejs', {type: definitions.classes.warnings}) -%>
}  // namespace ascii
}  // namespace motion
}  // namespace zaber
