<%- include('../generated.ejs') %>

using System;
using System.Linq;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

using Device = Zaber.Motion.Ascii.Device;

namespace Zaber.Motion.Gcode
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.offlineTranslator, indent: 1}) %>
    public class OfflineTranslator
    {
<%- include('../class.ejs', {type: definitions.classes.offlineTranslator}) -%>

        /// <summary>
        /// Finalizes an instance of the <see cref="OfflineTranslator"/> class.
        /// </summary>
        ~OfflineTranslator()
        {
            OfflineTranslator.Free(TranslatorId);
        }
    }
}
