<%- include('../generated.ejs') %>

using System;
using System.Linq;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

using Stream = Zaber.Motion.Ascii.Stream;

namespace Zaber.Motion.Gcode
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.translator, indent: 1}) %>
    public class Translator
    {
<%- include('../class.ejs', {type: definitions.classes.translator}) -%>

        /// <summary>
        /// Finalizes an instance of the <see cref="Translator"/> class.
        /// </summary>
        ~Translator()
        {
            Translator.Free(TranslatorId);
        }
    }
}
