<%- include('generated.ejs') %>

#pragma once

#if !defined(ZML_ASCII_H)
#define ZML_ASCII_H

#include "zaber/motion/includes.h"
#include "zaber/motion/dto/ascii/includes.h"

<% headers.forEach(header => { -%>
#include "<%- header %>"
<% }); %>

#endif