<%- include('generated.ejs') %>

#pragma once

#if !defined(ZML_BINARY_H)
#define ZML_BINARY_H

#include "zaber/motion/includes.h"
#include "zaber/motion/dto/binary/includes.h"

<% headers.forEach(header => { -%>
#include "<%- header %>"
<% }); %>

#endif