<%- include('generated.ejs') %>

#pragma once

#if !defined(ZML_GCODE_H)
#define ZML_GCODE_H

#include "zaber/motion/includes.h"
#include "zaber/motion/dto/gcode/includes.h"

<% headers.forEach(header => { -%>
#include "<%- header %>"
<% }); %>

#endif
