<%- include('generated.ejs') %>

#pragma once

#if !defined(ZML_INCLUDES_H)
#define ZML_INCLUDES_H

#include "zaber/motion/dto/includes.h"
<% headers.forEach(header => { -%>
<% if (!header.endsWith('.private.h')) { -%>
#include "<%- header %>"
<% } -%>
<% }); %>
#endif
