<%- include('generated.ejs') %>
#pragma once

#include "zaber/motion/dto/device_db_source_type.h"
#include "zaber/motion/dto/log_output_mode.h"
#include <string>
#include <optional>


namespace zaber {
namespace motion {

<%- include('constant.ejs', {type: definitions.classes.library}) -%>

<%- include('cppdoc_simple.ejs', {type: definitions.classes.library, indent: 0}) %>
class Library {
<%- include('classh.ejs', {type: definitions.classes.library}) -%>
};


}  // Namespace motion
}  // Namespace zaber
