<%- include('generated.ejs') %>

#pragma once

#if !defined(ZML_MICROSCOPY_H)
#define ZML_MICROSCOPY_H

#include "zaber/motion/includes.h"
#include "zaber/motion/dto/microscopy/includes.h"

<% headers.forEach(header => { -%>
#include "<%- header %>"
<% }); %>

#endif
