<%- include('generated.ejs') %>

#pragma once

#if !defined(ZML_PRODUCT_H)
#define ZML_PRODUCT_H

#include "zaber/motion/includes.h"
#include "zaber/motion/dto/product/includes.h"

<% headers.forEach(header => { -%>
#include "<%- header %>"
<% }); %>

#endif
