<%- include('generated.ejs') %>

#include "zaber/motion/tools.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"

#include <algorithm>


namespace zaber { namespace motion {
<%- include('class.ejs', {type: definitions.classes.tools}) -%>
}  // namespace motion
}  // namespace zaber
