<%- include('generated.ejs') %>
#pragma once

#include <string>
#include <vector>


namespace zaber {
namespace motion {

<%- include('constant.ejs', {type: definitions.classes.tools}) -%>

<%- include('cppdoc_simple.ejs', {type: definitions.classes.tools, indent: 0}) %>
class Tools {
<%- include('classh.ejs', {type: definitions.classes.tools}) -%>
};


}  // Namespace motion
}  // Namespace zaber
