<%- include('generated.ejs') %>
#pragma once

#include "zaber/motion/units.h"
#include <string>
#include <vector>


namespace zaber {
namespace motion {

<%- include('cppdoc_simple.ejs', {type: definitions.classes.unitTable, indent: 0}) %>
class UnitTable {
<%- include('classh.ejs', {type: definitions.classes.unitTable}) -%>
};


}  // Namespace motion
}  // Namespace zaber
