<%- include('generated.ejs') %>

#include "zaber/motion/unit_table.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"

#include <cstdint>


namespace zaber { namespace motion {
<%- include('class.ejs', {type: definitions.classes.unitTable}) -%>
}  // namespace motion
}  // namespace zaber
