<%- include('generated.ejs') %>

#pragma warning disable CA1054

using System;

using Zaber.Motion.Runtime;

namespace Zaber.Motion
{
<%- include('xmldoc_summary.ejs', {type: definitions.classes.library, indent: 1}) %>
    public static class Library
    {
        static Library()
        {
            Library.CheckVersion();
        }

<%- include('class.ejs', {type: definitions.classes.library}) -%>
    }
}
