<%- include('generated.ejs') %>

using System.Linq;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

namespace Zaber.Motion
{
<%- include('xmldoc_summary.ejs', {type: definitions.classes.tools, indent: 1}) %>
    public static class Tools
    {
<%- include('class.ejs', {type: definitions.classes.tools}) -%>
    }
}
