<%- include('generated.ejs') %>

#pragma warning disable CA1054

using System.Linq;

using Zaber.Motion.Exceptions;
using Zaber.Motion.Runtime;

namespace Zaber.Motion
{
<%- include('xmldoc_summary.ejs', {type: definitions.classes.unitTable, indent: 1}) %>
    public static class UnitTable
    {
<%- include('class.ejs', {type: definitions.classes.unitTable}) -%>

        /// <summary>
        /// Get unit symbol from a variable or constant.
        /// </summary>
        /// <param name="unit">Unit of measure.</param>
        /// <returns>Standard symbols for the given unit on measure.</returns>
        /// <exception cref="NoValueForKeyException">There is no symbol defined for the given unit.</exception>
        public static string Symbol(this Units unit) => GetSymbol(unit);
    }
}
