<%- include('../generated.ejs') %>

# pylint: disable=too-many-arguments

from typing import Generator, List, Any, Optional, TypeVar
import asyncio
from reactivex.subject import ReplaySubject
from reactivex import operators as rxop, Observable

from ..call import call, call_async, call_sync
from ..convert_exception import convert_exception
from ..events import filter_events
from ..exceptions.motion_lib_exception import MotionLibException

from .device import Device
from ..dto.binary.command_code import CommandCode
from ..dto.binary.message import Message
from ..dto.binary.reply_only_event import ReplyOnlyEvent
from ..dto.binary.unknown_response_event import UnknownResponseEvent
from ..dto import requests as dto


TConnectionEvents = TypeVar(
    "TConnectionEvents",
    dto.UnknownBinaryResponseEventWrapper,
    dto.BinaryReplyOnlyEventWrapper,
    dto.DisconnectedEvent)


class Connection:
<%- include('../docstring_simple.ejs', {type: definitions.classes.binaryConnection, indent: 1}) %>

    @property
    def unknown_response(self) -> Observable[UnknownResponseEvent]:
<%- include('../docstring_simple.ejs', {type: definitions.classes.binaryConnection.events.unknownResponse, indent: 2}) %>
        return self._unknown_response

    @property
    def reply_only(self) -> Observable[ReplyOnlyEvent]:
<%- include('../docstring_simple.ejs', {type: definitions.classes.binaryConnection.events.replyOnly, indent: 2}) %>
        return self._reply_only

    @property
    def disconnected(self) -> Observable[MotionLibException]:
<%- include('../docstring_simple.ejs', {type: definitions.classes.binaryConnection.events.disconnected, indent: 2}) %>
        return self._disconnected

<%- include('../class.ejs', {type: definitions.classes.binaryConnection}) -%>

    def __enter__(self) -> 'Connection':
        """ __enter__ """
        return self

    def __exit__(self, _type: Any, _value: Any, _traceback: Any) -> None:
        """ __exit__ """
        self.close()

    def __setup_events(self) -> None:
        def filter_connection_event(
            data: TConnectionEvents,
        ) -> bool:
            return data.interface_id == self._interface_id

        self._disconnected = ReplaySubject[MotionLibException]()  # terminates all the events

        unknown_response = filter_events('binary/interface/unknown_response', dto.UnknownBinaryResponseEventWrapper)
        self._unknown_response = unknown_response.pipe(
            rxop.filter(filter_connection_event),
            rxop.take_until(self.disconnected),
            rxop.map(map_unknown_response)
        )

        reply_only = filter_events('binary/interface/reply_only', dto.BinaryReplyOnlyEventWrapper)
        self._reply_only = reply_only.pipe(
            rxop.filter(filter_connection_event),
            rxop.take_until(self.disconnected),
            rxop.map(map_reply_only)
        )

        disconnected = filter_events('interface/disconnected', dto.DisconnectedEvent)
        disconnected.pipe(
            rxop.filter(filter_connection_event),
            rxop.take(1),
            rxop.map(map_disconnect)
        ).subscribe(self._disconnected)


<%- include('../async_context_manager.ejs', {
    fn: definitions.classes.binaryConnection.functions.find(fn => fn.name === 'OpenSerialPort'),
}) -%>


def map_unknown_response(event: dto.UnknownBinaryResponseEventWrapper) -> UnknownResponseEvent:
    return event.unknown_response


def map_reply_only(event: dto.BinaryReplyOnlyEventWrapper) -> ReplyOnlyEvent:
    return event.reply


def map_disconnect(event: dto.DisconnectedEvent) -> MotionLibException:
    return convert_exception(event.error_type, event.error_message)
