<%- include('../generated.ejs') %>

# pylint: disable=too-many-arguments

from typing import TYPE_CHECKING, Optional
from ..call import call, call_async, call_sync

from ..dto import requests as dto
from ..dto.binary.binary_settings import BinarySettings
from ..dto.binary.device_identity import DeviceIdentity
from .device_settings import DeviceSettings
from ..dto.binary.command_code import CommandCode
from ..dto.binary.message import Message
from ..units import UnitsAndLiterals, Units, LengthUnits, VelocityUnits
from ..dto.binary.device_type import DeviceType
from ..dto.firmware_version import FirmwareVersion

if TYPE_CHECKING:
    from .connection import Connection


class Device:
<%- include('../docstring_simple.ejs', {type: definitions.classes.binaryDevice, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.binaryDevice}) -%>
