<%- include('../generated.ejs') %>

from typing import TYPE_CHECKING
from ..call import call, call_async

from ..dto import requests as dto
from ..units import UnitsAndLiterals, Units
from ..dto.binary.binary_settings import BinarySettings

if TYPE_CHECKING:
    from .device import Device


class DeviceSettings:
<%- include('../docstring_simple.ejs', {type: definitions.classes.binaryDeviceSettings, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.binaryDeviceSettings}) -%>
