<%- include('../generated.ejs') %>

import { ProcessController } from './process_controller';
import * as gateway from '../gateway';
import * as requests from '../requests';
import { Native, Units, Time } from '../units';
import { Axis } from '../ascii/axis';
import { Response } from '../ascii/response';
import { AxisSettings } from '../ascii/axis_settings';
import { AxisStorage } from '../ascii/storage';
import { Warnings } from '../ascii/warnings';
import { ProcessControllerMode } from './process_controller_mode';
import { ProcessControllerSource } from './process_controller_source';
import { Measurement } from '../measurement';
import { SetStateAxisResponse } from '../ascii';
import { FirmwareVersion } from '../firmware_version';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.process, indent: 0}) %>
export class Process {
<%- include('../class.ejs', {type: definitions.classes.process}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.process}) -%>
