<%- include('../generated.ejs') %>

import { Connection } from '../ascii/connection';
import { Device } from '../ascii/device';
import * as gateway from '../gateway';
import * as requests from '../requests';
import { Process } from './process';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.processController, indent: 0}) %>
export class ProcessController {
<%- include('../class.ejs', {type: definitions.classes.processController}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.processController}) -%>
