package generated

import (
	"regexp"
	"strconv"
)

type ParamTypeInfo struct {
	Name          string
	DecimalPlaces int
}

var intRegex, _ = regexp.Compile(`^(Ui|I)nt(8|16|32|64|96)?DP(\d+)$`)

var paramTypesInfo = map[string]ParamTypeInfo{
<%
const maxNameLength = paramTypes.reduce((length, paramType) => Math.max(length, paramType.name.length), 0);
paramTypes.forEach(paramType => { -%>
	<%- _.padEnd(`"${paramType.name}":`, maxNameLength + 3) %> ParamTypeInfo{"<%- paramType.name %>", <%- paramType.decimalPlaces %>},
<% }); -%>
}

func GetParamTypeInfo(paramName string) (ParamTypeInfo, bool) {
	info, ok := paramTypesInfo[paramName]
	if !ok {
		if match := intRegex.FindStringSubmatch(paramName); match != nil {
			decimalPlaces, _ := strconv.Atoi(match[3])
			info := ParamTypeInfo{paramName, decimalPlaces}
			paramTypesInfo[paramName] = info
			return info, true
		}
	}
	return info, ok
}
