<%- include('../generated.ejs') %>

package zaber.motion.ascii;

import zaber.motion.ArrayUtility;
import zaber.motion.Units;
import zaber.motion.Measurement;
import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.axisGroup, indent: 0}) %>
public class AxisGroup {
<%- include('../class.ejs', {type: definitions.classes.axisGroup}) -%>
}
