<%- include('../generated.ejs') %>

package zaber.motion.ascii;

import zaber.motion.ArrayUtility;
import zaber.motion.gateway.Call;
import zaber.motion.gateway.Events;
import zaber.motion.exceptions.ExceptionConverter;
import zaber.motion.exceptions.MotionLibException;
import zaber.motion.requests.UnknownResponseEventWrapper;
import zaber.motion.requests.AlertEventWrapper;
import zaber.motion.requests.DisconnectedEvent;
import zaber.motion.requests.InterfaceType;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

import io.reactivex.rxjava3.core.Observable;
import io.reactivex.rxjava3.subjects.ReplaySubject;
import io.reactivex.rxjava3.subjects.Subject;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.connection, indent: 0}) %>
public class Connection implements AutoCloseable {
    private Observable<UnknownResponseEvent> unknownResponse;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.connection.events.unknownResponse, indent: 1}) %>
    public Observable<UnknownResponseEvent> getUnknownResponse() {
        return this.unknownResponse;
    }

    private Observable<AlertEvent> alert;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.connection.events.alert, indent: 1}) %>
    public Observable<AlertEvent> getAlert() {
        return this.alert;
    }

    private Subject<MotionLibException> disconnected = ReplaySubject.create();

<%- include('../javadoc_simple.ejs', {type: definitions.classes.connection.events.disconnected, indent: 1}) %>
    public Observable<MotionLibException> getDisconnected() {
        return this.disconnected;
    }

<%- include('../class.ejs', {type: definitions.classes.connection}) -%>
    private void subscribe() {
        this.unknownResponse = Events.getEventObservable()
            .takeUntil(this.disconnected)
            .filter(event -> event.getEventName().equals("interface/unknown_response"))
            .map(event -> (UnknownResponseEventWrapper) event.getEventData())
            .filter(event -> (event.getInterfaceId() == this.interfaceId))
            .map(event -> event.getUnknownResponse());

        this.alert = Events.getEventObservable()
            .takeUntil(this.disconnected)
            .filter(event -> event.getEventName().equals("interface/alert"))
            .map(event -> (AlertEventWrapper) event.getEventData())
            .filter(event -> (event.getInterfaceId() == this.interfaceId))
            .map(event -> event.getAlert());

        Events.getEventObservable()
            .filter(event -> event.getEventName().equals("interface/disconnected"))
            .map(event -> (DisconnectedEvent) event.getEventData())
            .filter(event -> (event.getInterfaceId() == this.interfaceId))
            .take(1)
            .map(event -> ExceptionConverter.convert(event.getErrorType(), event.getErrorMessage()))
            .subscribe(this.disconnected);
    }

}
