<%- include('../generated.ejs') %>

package zaber.motion.ascii;

import zaber.motion.FirmwareVersion;
import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;
import zaber.motion.Measurement;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.device, indent: 0}) %>
public class Device {
<%- include('../class.ejs', {type: definitions.classes.device}) -%>
}
