<%- include('../generated.ejs') %>

package zaber.motion.ascii;

import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;

import zaber.motion.Units;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.deviceIO, indent: 0}) %>
public class DeviceIO {
<%- include('../class.ejs', {type: definitions.classes.deviceIO}) -%>
}
