<%- include('../generated.ejs') %>

package zaber.motion.ascii;

import zaber.motion.Units;
import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;
import zaber.motion.requests.AxisMoveType;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.lockstep, indent: 0}) %>
public class Lockstep {
<%- include('../class.ejs', {type: definitions.classes.lockstep}) -%>
}
