<%- include('../generated.ejs') %>

package zaber.motion.ascii;

import zaber.motion.Units;
import zaber.motion.gateway.Call;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.oscilloscopeData, indent: 0}) %>
public class OscilloscopeData {
<%- include('../class.ejs', {type: definitions.classes.oscilloscopeData}) -%>

    /**
    * Finalize is used over Cleaner due compatibility with Java 8.
    */
    @Override
    @SuppressWarnings("deprecation")
    public void finalize() {
        OscilloscopeData.free(this.dataId);
    }
}
