<%- include('../generated.ejs') %>

package zaber.motion.ascii;

import java.util.concurrent.ExecutionException;
import java.util.concurrent.CompletableFuture;

import zaber.motion.exceptions.MotionLibException;
import zaber.motion.gateway.Call;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.pvt, indent: 0}) %>
public class Pvt {
<%- include('../class.ejs', {type: definitions.classes.pvt}) -%>
}
