<%- include('../generated.ejs') %>

package zaber.motion.ascii;

import zaber.motion.Measurement;
import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;
import zaber.motion.requests.StreamSegmentType;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.pvtSequence, indent: 0}) %>
public class PvtSequence {
<%- include('../class.ejs', {type: definitions.classes.pvtSequence}) -%>
}
