<%- include('../generated.ejs') %>

package zaber.motion.ascii;

import zaber.motion.Units;
import zaber.motion.Measurement;
import zaber.motion.gateway.Call;
import zaber.motion.RotationDirection;
import zaber.motion.exceptions.MotionLibException;
import zaber.motion.requests.StreamSegmentType;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.stream, indent: 0}) %>
public class Stream {
<%- include('../class.ejs', {type: definitions.classes.stream}) -%>
}
