<%- include('../generated.ejs') %>

package zaber.motion.ascii;

import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.transport, indent: 0}) %>
public class Transport implements AutoCloseable {
<%- include('../class.ejs', {type: definitions.classes.transport}) -%>
}
