<%- include('../generated.ejs') %>

package zaber.motion.ascii;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;


<%- include('../javadoc_simple.ejs', {type: definitions.classes.triggers, indent: 0}) %>
public class Triggers {
<%- include('../class.ejs', {type: definitions.classes.triggers}) -%>
}
