<%- include('../generated.ejs') %>

package zaber.motion.ascii;

import zaber.motion.ArrayUtility;
import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;

import java.util.HashSet;
import java.util.Set;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.warnings, indent: 0}) %>
public class Warnings {
<%- include('../class.ejs', {type: definitions.classes.warnings}) -%>
}
