<%- include('../generated.ejs') %>
#pragma once

#include <initializer_list>
#include <string>
#include <utility>
#include <vector>

#include "zaber/motion/units.h"
#include "zaber/motion/dto/ascii/can_set_state_device_response.h"
#include "zaber/motion/ascii/device.h"

namespace zaber {
namespace motion {

namespace ascii {
class Device;
class BaseConnection;
class Connection;
}

namespace product {
class Process;
<%- include('../constant.ejs', {type: definitions.classes.processController}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.processController, indent: 0}) %>
class ProcessController {
    using Device = zaber::motion::ascii::Device;
    using BaseConnection = zaber::motion::ascii::BaseConnection;
    using Connection = zaber::motion::ascii::Connection;
<%- include('../classh.ejs', {type: definitions.classes.processController}) -%>
};


}  // Namespace product
}  // Namespace motion
}  // Namespace zaber
