<%- include('../generated.ejs') %>

#include "zaber/motion/product/process.h"
#include "zaber/motion/dto/ascii/response.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/measurement.h"
#include "zaber/motion/dto/requests/includes.h"

using Axis = zaber::motion::ascii::Axis;
using AxisSettings = zaber::motion::ascii::AxisSettings;
using AxisStorage = zaber::motion::ascii::AxisStorage;
using Warnings = zaber::motion::ascii::Warnings;
using Response = zaber::motion::ascii::Response;
using SetStateAxisResponse = zaber::motion::ascii::SetStateAxisResponse;

namespace zaber { namespace motion { namespace product {
<%- include('../class.ejs', {type: definitions.classes.process}) -%>
}  // namespace product
}  // namespace motion
}  // namespace zaber
