<%- include('../generated.ejs') %>
#pragma once

#include <initializer_list>
#include <string>
#include <utility>
#include <vector>

#include "zaber/motion/ascii/device.h"
#include "zaber/motion/product/process_controller.h"
#include "zaber/motion/dto/product/process_controller_mode.h"
#include "zaber/motion/dto/product/process_controller_source.h"
#include "zaber/motion/units.h"
#include "zaber/motion/ascii/axis_settings.h"
#include "zaber/motion/ascii/storage.h"
#include "zaber/motion/ascii/warnings.h"
#include "zaber/motion/dto/measurement.h"


namespace zaber {
namespace motion {

class Measurement;

namespace ascii {
class Axis;
class AxisSettings;
class AxisStorage;
class Warnings;
class Response;
}

namespace product {
<%- include('../constant.ejs', {type: definitions.classes.process}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.process, indent: 0}) %>
class Process {
    using Axis = zaber::motion::ascii::Axis;
    using AxisSettings = zaber::motion::ascii::AxisSettings;
    using AxisStorage = zaber::motion::ascii::AxisStorage;
    using Warnings = zaber::motion::ascii::Warnings;
    using Response = zaber::motion::ascii::Response;
    using SetStateAxisResponse = zaber::motion::ascii::SetStateAxisResponse;
<%- include('../classh.ejs', {type: definitions.classes.process}) -%>
};


}  // Namespace product
}  // Namespace motion
}  // Namespace zaber
