<%- include('../generated.ejs') %>

#include "zaber/motion/utils/functional_utils.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/product/process.h"
#include "zaber/motion/product/process_controller.h"
#include "zaber/motion/ascii/storage.h"
#include "zaber/motion/ascii/warnings.h"
#include "zaber/motion/exceptions/invalid_argument_exception.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"

using Device = zaber::motion::ascii::Device;
using BaseConnection = zaber::motion::ascii::BaseConnection;
using Connection = zaber::motion::ascii::Connection;

namespace zaber { namespace motion { namespace product {
<%- include('../class.ejs', {type: definitions.classes.processController}) -%>
}  // namespace product
}  // namespace motion
}  // namespace zaber
