<%- include('../generated.ejs') %>

using System;
using System.Linq;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

using Connection = Zaber.Motion.Ascii.Connection;
using Device = Zaber.Motion.Ascii.Device;

namespace Zaber.Motion.Microscopy
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.cameraTrigger, indent: 1}) %>
    public class CameraTrigger
    {
<%- include('../class.ejs', {type: definitions.classes.cameraTrigger}) -%>
    }
}
