<%- include('../generated.ejs') %>

using System;
using System.Linq;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

using Axis = Zaber.Motion.Ascii.Axis;
using Connection = Zaber.Motion.Ascii.Connection;
using Device = Zaber.Motion.Ascii.Device;
using DeviceIO = Zaber.Motion.Ascii.DeviceIO;

namespace Zaber.Motion.Microscopy
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.illuminator, indent: 1}) %>
    public class Illuminator
    {
<%- include('../class.ejs', {type: definitions.classes.illuminator}) -%>
    }
}
