<%- include('../generated.ejs') %>

using System.Threading.Tasks;

using Zaber.Motion.Ascii;
using Zaber.Motion.Runtime;

using Axis = Zaber.Motion.Ascii.Axis;
using AxisSettings = Zaber.Motion.Ascii.AxisSettings;
using AxisStorage = Zaber.Motion.Ascii.AxisStorage;
using Connection = Zaber.Motion.Ascii.Connection;
using Device = Zaber.Motion.Ascii.Device;
using Response = Zaber.Motion.Ascii.Response;
using Warnings = Zaber.Motion.Ascii.Warnings;

namespace Zaber.Motion.Microscopy
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.illuminatorChannel, indent: 1}) %>
    public class IlluminatorChannel
    {
<%- include('../class.ejs', {type: definitions.classes.illuminatorChannel}) -%>
    }
}
