<%- include('../generated.ejs') %>

using System;
using System.Linq;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

using Axis = Zaber.Motion.Ascii.Axis;
using Connection = Zaber.Motion.Ascii.Connection;
using Device = Zaber.Motion.Ascii.Device;

namespace Zaber.Motion.Microscopy
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.objectiveChanger, indent: 1}) %>
    public class ObjectiveChanger
    {
<%- include('../class.ejs', {type: definitions.classes.objectiveChanger}) -%>
    }
}
