<%- include('../generated.ejs') %>

using System;
using System.Linq;
using System.Threading;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

namespace Zaber.Motion.Microscopy
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.wdiAutofocus, indent: 1}) %>
#if NET || NETSTANDARD
    public class WdiAutofocusProvider : IDisposable, IAsyncDisposable
#else
    public class WdiAutofocusProvider : IDisposable
#endif
    {
        /// <summary>
        /// Finalizes an instance of the <see cref="WdiAutofocusProvider"/> class.
        /// </summary>
        ~WdiAutofocusProvider()
        {
            Dispose(false);
        }


<%- include('../class.ejs', {type: definitions.classes.wdiAutofocus}) -%>
#pragma warning disable SA1202
        /// <summary>
        /// Disposes the object.
        /// </summary>
        public void Dispose()
        {
            Dispose(true);
            GC.SuppressFinalize(this);
        }
#pragma warning restore SA1202


        /// <summary>
        /// Dispose pattern function.
        /// </summary>
        /// <param name="disposing">True when function is called from Dispose().</param>
        protected virtual void Dispose(bool disposing)
        {
            if (Interlocked.CompareExchange(ref _disposed, 1, 0) != 0)
            {
                return;
            }

            Close();
        }


#if NET || NETSTANDARD
#pragma warning disable SA1202
        /// <summary>
        /// IAsyncDisposable implementation.
        /// </summary>
        /// <returns>A task meant to be awaited by the "await using" statement.</returns>
        public async ValueTask DisposeAsync()
        {
            if (Interlocked.CompareExchange(ref _disposed, 1, 0) != 0)
            {
                return;
            }

            await DisposeAsyncCore().ConfigureAwait(false);
            await CloseAsync().ConfigureAwait(false);

#pragma warning disable CA1816
            GC.SuppressFinalize(this);
#pragma warning restore CA1816
        }
#pragma warning restore SA1202


        /// <summary>
        /// Enables subclasses to dispose of their own resources.
        /// </summary>
        /// <returns>Immediately.</returns>
        protected virtual async ValueTask DisposeAsyncCore()
            => await Task.FromResult(0).ConfigureAwait(false);
#endif

        private int _disposed;
    }
}
