<%- include('../generated.ejs') %>

using System.Linq;
using System.Threading.Tasks;

using Zaber.Motion;
using Zaber.Motion.Ascii;
using Zaber.Motion.Runtime;

namespace Zaber.Motion.Product
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.process, indent: 1}) %>
    public class Process
    {
<%- include('../class.ejs', {type: definitions.classes.process}) -%>
    }
}
