<%- include('../generated.ejs') %>

using System;
using System.Linq;
using System.Threading.Tasks;

using Zaber.Motion.Ascii;
using Zaber.Motion.Runtime;

namespace Zaber.Motion.Product
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.device, indent: 1}) %>
    public class ProcessController
    {
<%- include('../class.ejs', {type: definitions.classes.processController}) -%>
    }
}
