<%- include('../generated.ejs') %>

#include "offline_translator.h"
#include "zaber/motion/dto/gcode/device_definition.h"
#include "zaber/motion/dto/gcode/translate_result.h"
#include "zaber/motion/dto/gcode/translator_config.h"
#include "zaber/motion/ascii/connection.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"


using Device = zaber::motion::ascii::Device;

namespace zaber { namespace motion { namespace gcode {
<%- include('../class.ejs', {type: definitions.classes.offlineTranslator}) -%>

OfflineTranslator& OfflineTranslator::operator=(OfflineTranslator&& other) noexcept {
    if (this != &other) {
        if (this->_translatorId >= 0) {
            OfflineTranslator::free(this->_translatorId);
            this->_translatorId = -1;
        }

        std::swap(_translatorId, other._translatorId);
    }
    return *this;
}

OfflineTranslator::OfflineTranslator(OfflineTranslator&& other) noexcept: _translatorId(-1) {
    *this = std::move(other);
}

OfflineTranslator::~OfflineTranslator() {
    if (this->_translatorId >= 0) {
        OfflineTranslator::free(this->_translatorId);
    }
}

}  // namespace gcode
}  // namespace motion
}  // namespace zaber
