<%- include('../generated.ejs') %>
#pragma once

#include "zaber/motion/units.h"
#include "zaber/motion/dto/gcode/translator_config.h"
#include <initializer_list>
#include <string>
#include <utility>
#include <vector>


namespace zaber {
namespace motion {

namespace ascii {
class Device;
}

namespace gcode {

/* Forward Declarations */
class DeviceDefinition;
class TranslateResult;

<%- include('../constant.ejs', {type: definitions.classes.offlineTranslator}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.offlineTranslator, indent: 0}) %>
class OfflineTranslator {
    using Device = zaber::motion::ascii::Device;
<%- include('../classh.ejs', {type: definitions.classes.offlineTranslator}) -%>
public:
    OfflineTranslator(): _translatorId(-1) {};
    ~OfflineTranslator();
    OfflineTranslator(OfflineTranslator&& other) noexcept;
    OfflineTranslator& operator=(OfflineTranslator&& other) noexcept;
};


}  // Namespace gcode
}  // Namespace motion
}  // Namespace zaber
