<%- include('../generated.ejs') %>

#include "zaber/motion/gcode/translator.h"

#include "zaber/motion/dto/gcode/translate_result.h"
#include "zaber/motion/dto/gcode/translator_config.h"
#include "zaber/motion/ascii/connection.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/ascii/stream.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"


using Stream = zaber::motion::ascii::Stream;

namespace zaber { namespace motion { namespace gcode {
<%- include('../class.ejs', {type: definitions.classes.translator}) -%>

Translator& Translator::operator=(Translator&& other) noexcept {
    if (this != &other) {
        if (this->_translatorId >= 0) {
            Translator::free(this->_translatorId);
            this->_translatorId = -1;
        }

        std::swap(_translatorId, other._translatorId);
    }
    return *this;
}

Translator::Translator(Translator&& other) noexcept: _translatorId(-1) {
    *this = std::move(other);
}

Translator::~Translator() {
    if (this->_translatorId >= 0) {
        Translator::free(this->_translatorId);
    }
}

}  // namespace gcode
}  // namespace motion
}  // namespace zaber
