<%- include('../generated.ejs') %>
#pragma once

#include "zaber/motion/units.h"
#include "zaber/motion/dto/gcode/translator_config.h"
#include <initializer_list>
#include <string>
#include <utility>
#include <vector>


namespace zaber {
namespace motion {

namespace ascii {
/* Forward Declarations */
class Stream;
}

namespace gcode {

/* Forward Declarations */
class TranslateResult;

<%- include('../constant.ejs', {type: definitions.classes.translator}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.translator, indent: 0}) %>
class Translator {
    using Stream = zaber::motion::ascii::Stream;
<%- include('../classh.ejs', {type: definitions.classes.translator}) -%>
public:
    Translator(): _translatorId(-1) {};
    ~Translator();
    Translator(Translator&& other) noexcept;
    Translator& operator=(Translator&& other) noexcept;
};


}  // Namespace gcode
}  // Namespace motion
}  // Namespace zaber
