<%- include('../generated.ejs') %>

#include "autofocus.h"
#include "zaber/motion/ascii/axis.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"


using Axis = zaber::motion::ascii::Axis;
using Device = zaber::motion::ascii::Device;
using BaseConnection = zaber::motion::ascii::BaseConnection;
using Connection = zaber::motion::ascii::Connection;

namespace zaber { namespace motion { namespace microscopy {
<%- include('../class.ejs', {type: definitions.classes.autofocus}) -%>

}  // namespace microscopy
}  // namespace motion
}  // namespace zaber
