<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <utility>

#include "zaber/motion/ascii/connection.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/ascii/axis.h"
#include "zaber/motion/dto/named_parameter.h"
#include "zaber/motion/dto/microscopy/autofocus_status.h"

namespace zaber {
namespace motion {
namespace microscopy {

<%- include('../constant.ejs', {type: definitions.classes.autofocus}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.autofocus, indent: 0}) %>
class Autofocus {
    using Axis = zaber::motion::ascii::Axis;
    using BaseConnection = zaber::motion::ascii::BaseConnection;
    using Connection = zaber::motion::ascii::Connection;
    using Device = zaber::motion::ascii::Device;
<%- include('../classh.ejs', {type: definitions.classes.autofocus}) -%>
};

}  // Namespace microscopy
}  // Namespace motion
}  // Namespace zaber
