<%- include('../generated.ejs') %>

#include "camera_trigger.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"


using Device = zaber::motion::ascii::Device;
using BaseConnection = zaber::motion::ascii::BaseConnection;
using Connection = zaber::motion::ascii::Connection;

namespace zaber { namespace motion { namespace microscopy {
<%- include('../class.ejs', {type: definitions.classes.cameraTrigger}) -%>


}  // namespace microscopy
}  // namespace motion
}  // namespace zaber
