<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <utility>

#include "zaber/motion/ascii/connection.h"
#include "zaber/motion/ascii/device.h"

namespace zaber {
namespace motion {
namespace microscopy {

<%- include('../constant.ejs', {type: definitions.classes.cameraTrigger}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.cameraTrigger, indent: 0}) %>
class CameraTrigger {
    using BaseConnection = zaber::motion::ascii::BaseConnection;
    using Connection = zaber::motion::ascii::Connection;
    using Device = zaber::motion::ascii::Device;
<%- include('../classh.ejs', {type: definitions.classes.cameraTrigger}) -%>
};


}  // Namespace microscopy
}  // Namespace motion
}  // Namespace zaber
