<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <utility>

#include "zaber/motion/ascii/connection.h"
#include "zaber/motion/ascii/device.h"

namespace zaber {
namespace motion {

namespace ascii {
class Axis;
}

namespace microscopy {

<%- include('../constant.ejs', {type: definitions.classes.filterChanger}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.filterChanger, indent: 0}) %>
class FilterChanger {
    using Axis = zaber::motion::ascii::Axis;
    using BaseConnection = zaber::motion::ascii::BaseConnection;
    using Connection = zaber::motion::ascii::Connection;
    using Device = zaber::motion::ascii::Device;
<%- include('../classh.ejs', {type: definitions.classes.filterChanger}) -%>
};


}  // Namespace microscopy
}  // Namespace motion
}  // Namespace zaber
