<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <utility>

#include "zaber/motion/ascii/connection.h"
#include "zaber/motion/ascii/device.h"

namespace zaber {
namespace motion {

namespace ascii {
class Axis;
class DeviceIO;
}

namespace microscopy {
class IlluminatorChannel;

<%- include('../constant.ejs', {type: definitions.classes.illuminator}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.illuminator, indent: 0}) %>
class Illuminator {
    using Axis = zaber::motion::ascii::Axis;
    using BaseConnection = zaber::motion::ascii::BaseConnection;
    using Connection = zaber::motion::ascii::Connection;
    using Device = zaber::motion::ascii::Device;
    using DeviceIO = zaber::motion::ascii::DeviceIO;
<%- include('../classh.ejs', {type: definitions.classes.illuminator}) -%>
};


}  // Namespace microscopy
}  // Namespace motion
}  // Namespace zaber
