<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <utility>

#include "zaber/motion/ascii/connection.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/microscopy/illuminator.h"

namespace zaber {
namespace motion {

namespace ascii {
class Axis;
class Response;
class AxisSettings;
class AxisStorage;
class Warnings;
}

namespace microscopy {

<%- include('../constant.ejs', {type: definitions.classes.illuminatorChannel}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.illuminatorChannel, indent: 0}) %>
class IlluminatorChannel {
    using Axis = zaber::motion::ascii::Axis;
    using AxisSettings = zaber::motion::ascii::AxisSettings;
    using AxisStorage = zaber::motion::ascii::AxisStorage;
    using Warnings = zaber::motion::ascii::Warnings;
    using BaseConnection = zaber::motion::ascii::BaseConnection;
    using Connection = zaber::motion::ascii::Connection;
    using Device = zaber::motion::ascii::Device;
    using Response = zaber::motion::ascii::Response;
    using SetStateAxisResponse = zaber::motion::ascii::SetStateAxisResponse;
<%- include('../classh.ejs', {type: definitions.classes.illuminatorChannel}) -%>
};


}  // Namespace microscopy
}  // Namespace motion
}  // Namespace zaber
