<%- include('../generated.ejs') %>

#include "illuminator_channel.h"
#include "zaber/motion/ascii/axis.h"
#include "zaber/motion/ascii/axis_settings.h"
#include "zaber/motion/ascii/storage.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/dto/ascii/response.h"
#include "zaber/motion/ascii/warnings.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"


using Axis = zaber::motion::ascii::Axis;
using AxisSettings = zaber::motion::ascii::AxisSettings;
using AxisStorage = zaber::motion::ascii::AxisStorage;
using Warnings = zaber::motion::ascii::Warnings;
using BaseConnection = zaber::motion::ascii::BaseConnection;
using Connection = zaber::motion::ascii::Connection;
using Device = zaber::motion::ascii::Device;
using Response = zaber::motion::ascii::Response;
using SetStateAxisResponse = zaber::motion::ascii::SetStateAxisResponse;

namespace zaber { namespace motion { namespace microscopy {
<%- include('../class.ejs', {type: definitions.classes.illuminatorChannel}) -%>


}  // namespace microscopy
}  // namespace motion
}  // namespace zaber
