<%- include('../generated.ejs') %>

#include "illuminator.h"
#include "zaber/motion/ascii/axis.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/ascii/device_io.h"
#include "zaber/motion/exceptions/invalid_argument_exception.h"
#include "zaber/motion/microscopy/illuminator_channel.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"


using Axis = zaber::motion::ascii::Axis;
using BaseConnection = zaber::motion::ascii::BaseConnection;
using Device = zaber::motion::ascii::Device;
using DeviceIO = zaber::motion::ascii::DeviceIO;
using Connection = zaber::motion::ascii::Connection;

namespace zaber { namespace motion { namespace microscopy {
<%- include('../class.ejs', {type: definitions.classes.illuminator}) -%>


}  // namespace microscopy
}  // namespace motion
}  // namespace zaber
