<%- include('../generated.ejs') %>
#pragma once

#include <optional>
#include <string>
#include <utility>

#include "zaber/motion/ascii/connection.h"
#include "zaber/motion/ascii/axis.h"
#include "zaber/motion/ascii/device.h"
#include "zaber/motion/ascii/axis_group.h"
#include "zaber/motion/dto/microscopy/third_party_components.h"
#include "zaber/motion/dto/microscopy/microscope_config.h"
#include "zaber/motion/microscopy/illuminator.h"
#include "zaber/motion/microscopy/objective_changer.h"
#include "zaber/motion/microscopy/filter_changer.h"
#include "zaber/motion/microscopy/autofocus.h"
#include "zaber/motion/microscopy/camera_trigger.h"

namespace zaber {
namespace motion {
namespace microscopy {

<%- include('../constant.ejs', {type: definitions.classes.microscope}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.microscope, indent: 0}) %>
class Microscope {
    using Axis = zaber::motion::ascii::Axis;
    using AxisGroup = zaber::motion::ascii::AxisGroup;
    using BaseConnection = zaber::motion::ascii::BaseConnection;
    using Connection = zaber::motion::ascii::Connection;
    using Device = zaber::motion::ascii::Device;
<%- include('../classh.ejs', {type: definitions.classes.microscope}) -%>
};


}  // Namespace microscopy
}  // Namespace motion
}  // Namespace zaber
