<%- include('../generated.ejs') %>
#pragma once

#include <string>
#include <utility>
#include <vector>

#include "zaber/motion/dto/microscopy/wdi_autofocus_provider_status.h"

namespace zaber {
namespace motion {
namespace microscopy {

<%- include('../constant.ejs', {type: definitions.classes.wdiAutofocus}) -%>

<%- include('../cppdoc_simple.ejs', {type: definitions.classes.wdiAutofocus, indent: 0}) %>
class WdiAutofocusProvider {
<%- include('../classh.ejs', {type: definitions.classes.wdiAutofocus}) -%>
public:
    WdiAutofocusProvider(): _providerId(-1) {};
    ~WdiAutofocusProvider();
    WdiAutofocusProvider (WdiAutofocusProvider&& other) noexcept;
    WdiAutofocusProvider& operator=(WdiAutofocusProvider&& other) noexcept;
};


}  // Namespace microscopy
}  // Namespace motion
}  // Namespace zaber
