<%- include('../generated.ejs') %>

#include "wdi_autofocus_provider.h"
#include "zaber/motion/gateway/call.h"
#include "zaber/motion/dto/requests/includes.h"

namespace zaber { namespace motion { namespace microscopy {
<%- include('../class.ejs', {type: definitions.classes.wdiAutofocus}) -%>

WdiAutofocusProvider& WdiAutofocusProvider::operator=(WdiAutofocusProvider&& other) noexcept {
  if (this != &other) {
      if (this->_providerId >= 0) {
          this->close();
          this->_providerId = -1;
      }

      std::swap(_providerId, other._providerId);
  }
  return *this;
}

WdiAutofocusProvider::WdiAutofocusProvider (WdiAutofocusProvider&& other) noexcept: _providerId(-1) {
  *this = std::move(other);
}

WdiAutofocusProvider::~WdiAutofocusProvider() {
  if (this->_providerId >= 0) {
      this->close();
  }
}

}  // namespace microscopy
}  // namespace motion
}  // namespace zaber
