<%- include('../generated.ejs') %>

import Darwin
import UnitsInternal
import DtoRequests
import Gateway
import ZaberMotionAscii
import ZaberMotionExceptions
import Utils

<%- include('../swiftdoc_summary.ejs', {type: definitions.classes.translator, indent: 0, isFunction: false}) %>
public final class Translator: @unchecked Sendable {

<%- include('../class.ejs', {type: definitions.classes.translator}) -%>
<%- -%>
    deinit {
        guard self.translatorId >= 0 else { return }

        do {
            try Translator.free(translatorId: self.translatorId)
        } catch let e as MotionLibException {
            fputs("ZML Error: \(e.toString())", stderr)
        } catch {
            fputs("System Error: \(error)", stderr)
        }
    }
}
