<%- include('../generated.ejs') %>

using System.Threading.Tasks;

using Zaber.Motion.Runtime;

namespace Zaber.Motion.Ascii
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.allAxes, indent: 1}) %>
    public class AllAxes
    {
<%- include('../class.ejs', {type: definitions.classes.allAxes}) -%>
    }
}
