<%- include('../generated.ejs') %>

using System.Linq;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

namespace Zaber.Motion.Ascii
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.oscilloscopeData, indent: 1}) %>
    public class OscilloscopeData
    {
<%- include('../class.ejs', {type: definitions.classes.oscilloscopeData}) -%>

        /// <summary>
        /// Finalizes an instance of the <see cref="OscilloscopeData"/> class.
        /// </summary>
        ~OscilloscopeData()
        {
            OscilloscopeData.Free(DataId);
        }
    }
}
