<%- include('../generated.ejs') %>

using System.Linq;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

namespace Zaber.Motion.Ascii
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.oscilloscope, indent: 1}) %>
    public class Oscilloscope
    {
<%- include('../class.ejs', {type: definitions.classes.oscilloscope}) -%>
    }
}
