<%- include('../generated.ejs') %>
#pragma warning disable 612, 618

using System;
using System.Linq;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

namespace Zaber.Motion.Ascii
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.servoTuner, indent: 1}) %>
    public class ServoTuner
    {
<%- include('../class.ejs', {type: definitions.classes.servoTuner}) -%>
    }
}

#pragma warning restore 612, 618
