<%- include('../generated.ejs') %>

using System;
using System.Linq;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

namespace Zaber.Motion.Ascii
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.streamIo, indent: 1}) %>
    public class StreamIo
    {
<%- include('../class.ejs', {type: definitions.classes.streamIo}) -%>
    }
}
