<%- include('../generated.ejs') %>

using System.Collections.Generic;
using System.Threading.Tasks;

using Zaber.Motion.Runtime;

namespace Zaber.Motion.Ascii
{
<%- include('../xmldoc_summary.ejs', {type: definitions.classes.warnings, indent: 1}) %>
    public class Warnings
    {
<%- include('../class.ejs', {type: definitions.classes.warnings}) -%>
    }
}
