<%- include('generated.ejs') %>

package zaber.motion;

import zaber.motion.gateway.Call;

<%- include('javadoc_simple.ejs', {type: definitions.classes.library, indent: 0}) %>
public final class Library {
    static {
        Library.checkVersion();
    }

    private Library() {
    }
<%- include('class.ejs', {type: definitions.classes.library}) -%>
}
