<%- include('generated.ejs') %>

package zaber.motion;

import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('javadoc_simple.ejs', {type: definitions.classes.tools, indent: 0}) %>
public final class Tools {
    private Tools() {
    }
<%- include('class.ejs', {type: definitions.classes.tools}) -%>
}
