<%- include('generated.ejs') %>

package zaber.motion;

import zaber.motion.gateway.Call;

<%- include('javadoc_simple.ejs', {type: definitions.classes.unitTable, indent: 0}) %>
public final class UnitTable {
    private UnitTable() {
    }
<%- include('class.ejs', {type: definitions.classes.unitTable}) -%>
}
