<%- include('../generated.ejs') %>

from typing import TYPE_CHECKING
from ..call import call, call_async, call_sync

from ..dto import requests as dto

if TYPE_CHECKING:
    from .device import Device


class AllAxes:
<%- include('../docstring_simple.ejs', {type: definitions.classes.allAxes, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.allAxes}) -%>
