<%- include('../generated.ejs') %>

from typing import TYPE_CHECKING, List, Optional
from ..call import call, call_async, call_sync

from ..dto import requests as dto
from ..units import Units, LengthUnits, VelocityUnits, AccelerationUnits, TimeUnits
from .warnings import Warnings
from .axis_settings import AxisSettings
from ..dto.ascii.axis_identity import AxisIdentity
from .storage import AxisStorage
from ..dto.ascii.axis_type import AxisType
from ..dto.ascii.response import Response
from ..dto.measurement import Measurement
from ..dto.ascii.set_state_axis_response import SetStateAxisResponse
from ..dto.firmware_version import FirmwareVersion

if TYPE_CHECKING:
    from .device import Device


class Axis:
<%- include('../docstring_simple.ejs', {type: definitions.classes.axis, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.axis}) -%>
