<%- include('../generated.ejs') %>

from typing import List
from ..call import call, call_async, call_sync

from ..dto import requests as dto
from .axis import Axis
from ..dto.measurement import Measurement
from ..units import LengthUnits


class AxisGroup:
<%- include('../docstring_simple.ejs', {type: definitions.classes.axisGroup, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.axisGroup}) -%>
