<%- include('../generated.ejs') %>

from typing import TYPE_CHECKING, List
from ..call import call, call_async, call_sync

from ..dto import requests as dto
from ..units import UnitsAndLiterals, Units
from ..dto.ascii.conversion_factor import ConversionFactor
from ..dto.ascii.get_axis_setting import GetAxisSetting
from ..dto.ascii.get_axis_setting_result import GetAxisSettingResult

if TYPE_CHECKING:
    from .axis import Axis


class AxisSettings:
<%- include('../docstring_simple.ejs', {type: definitions.classes.axisSettings, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.axisSettings}) -%>
