<%- include('../generated.ejs') %>

from typing import Generator, List, Any, Optional, TypeVar
import asyncio
from reactivex.subject import ReplaySubject
from reactivex import operators as rxop, Observable

from ..call import call, call_async, call_sync
from ..convert_exception import convert_exception
from ..events import filter_events
from ..exceptions.motion_lib_exception import MotionLibException

from .device import Device
from .transport import Transport
from ..dto.ascii.response import Response
from ..dto.ascii.unknown_response_event import UnknownResponseEvent
from ..dto.ascii.alert_event import AlertEvent
from ..dto import requests as dto


TConnectionEvents = TypeVar(
    "TConnectionEvents",
    dto.UnknownResponseEventWrapper,
    dto.AlertEventWrapper,
    dto.DisconnectedEvent)


class Connection:
<%- include('../docstring_simple.ejs', {type: definitions.classes.connection, indent: 1}) %>

    @property
    def unknown_response(self) -> Observable[UnknownResponseEvent]:
<%- include('../docstring_simple.ejs', {type: definitions.classes.connection.events.unknownResponse, indent: 2}) %>
        return self._unknown_response

    @property
    def alert(self) -> Observable[AlertEvent]:
<%- include('../docstring_simple.ejs', {type: definitions.classes.connection.events.alert, indent: 2}) %>
        return self._alert

    @property
    def disconnected(self) -> Observable[MotionLibException]:
<%- include('../docstring_simple.ejs', {type: definitions.classes.connection.events.disconnected, indent: 2}) %>
        return self._disconnected

<%- include('../class.ejs', {type: definitions.classes.connection}) -%>

    def __enter__(self) -> 'Connection':
        """ __enter__ """
        return self

    def __exit__(self, _type: Any, _value: Any, _traceback: Any) -> None:
        """ __exit__ """
        self.close()

    def __setup_events(self) -> None:
        def filter_connection_event(
            data: TConnectionEvents,
        ) -> bool:
            return data.interface_id == self._interface_id

        self._disconnected = ReplaySubject[MotionLibException]()  # terminates all the events

        unknown_response = filter_events('interface/unknown_response', dto.UnknownResponseEventWrapper)
        self._unknown_response = unknown_response.pipe(
            rxop.filter(filter_connection_event),
            rxop.take_until(self.disconnected),
            rxop.map(map_unknown_response)
        )

        alert = filter_events('interface/alert', dto.AlertEventWrapper)
        self._alert = alert.pipe(
            rxop.filter(filter_connection_event),
            rxop.take_until(self.disconnected),
            rxop.map(map_alert)
        )

        disconnected = filter_events('interface/disconnected', dto.DisconnectedEvent)
        disconnected.pipe(
            rxop.filter(filter_connection_event),
            rxop.take(1),
            rxop.map(map_disconnect)
        ).subscribe(self._disconnected)


<%- include('../async_context_manager.ejs', {
    fn: definitions.classes.connection.functions.find(fn => fn.name === 'OpenSerialPort'),
}) -%>


def map_unknown_response(event: dto.UnknownResponseEventWrapper) -> UnknownResponseEvent:
    return event.unknown_response


def map_alert(event: dto.AlertEventWrapper) -> AlertEvent:
    return event.alert


def map_disconnect(event: dto.DisconnectedEvent) -> MotionLibException:
    return convert_exception(event.error_type, event.error_message)
