<%- include('../generated.ejs') %>

from typing import TYPE_CHECKING, List
from ..call import call, call_async, call_sync

from ..dto import requests as dto
from ..units import UnitsAndLiterals, Units

from ..dto.ascii.get_setting import GetSetting
from ..dto.ascii.get_setting_result import GetSettingResult

if TYPE_CHECKING:
    from .device import Device


class DeviceSettings:
<%- include('../docstring_simple.ejs', {type: definitions.classes.deviceSettings, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.deviceSettings}) -%>
