<%- include('../generated.ejs') %>

from typing import TYPE_CHECKING, List, Optional
from ..call import call, call_async, call_sync

from ..dto import requests as dto
from .device_settings import DeviceSettings
from .axis import Axis
from .all_axes import AllAxes
from .warnings import Warnings
from ..dto.ascii.device_identity import DeviceIdentity
from .device_io import DeviceIO
from ..dto.ascii.response import Response
from .lockstep import Lockstep
from .oscilloscope import Oscilloscope
from .storage import DeviceStorage
from ..dto.ascii.can_set_state_device_response import CanSetStateDeviceResponse
from .pvt import Pvt
from .triggers import Triggers
from .streams import Streams
from ..dto.firmware_version import FirmwareVersion
from ..dto.measurement import Measurement
from ..dto.ascii.set_state_device_response import SetStateDeviceResponse

if TYPE_CHECKING:
    from .connection import Connection


class Device:
<%- include('../docstring_simple.ejs', {type: definitions.classes.device, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.device}) -%>
