<%- include('../generated.ejs') %>

from typing import TYPE_CHECKING, List, Optional
from ..call import call, call_async
from ..units import Units, TimeUnits, FrequencyUnits
from ..dto.ascii.device_io_info import DeviceIOInfo
from ..dto.ascii.digital_output_action import DigitalOutputAction
from ..dto.ascii.io_port_type import IoPortType
from ..dto.ascii.io_port_label import IoPortLabel

from ..dto import requests as dto

if TYPE_CHECKING:
    from .device import Device


class DeviceIO:
<%- include('../docstring_simple.ejs', {type: definitions.classes.deviceIO, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.deviceIO}) -%>
