<%- include('../generated.ejs') %>
from typing import TYPE_CHECKING, List
from ..dto import requests as dto
from ..units import Units, LengthUnits, VelocityUnits, AccelerationUnits, TimeUnits
from ..call import call, call_async, call_sync
from ..dto.ascii.lockstep_axes import LockstepAxes

if TYPE_CHECKING:
    from .device import Device


class Lockstep:
<%- include('../docstring_simple.ejs', {type: definitions.classes.lockstep, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.lockstep}) -%>
