<%- include('../generated.ejs') %>
from typing import TYPE_CHECKING, List
from ..dto import requests as dto
from ..units import Units, TimeUnits, FrequencyUnits
from ..call import call, call_async
from ..dto.ascii.io_port_type import IoPortType
from .oscilloscope_data import OscilloscopeData

if TYPE_CHECKING:
    from .device import Device


class Oscilloscope:
<%- include('../docstring_simple.ejs', {type: definitions.classes.oscilloscope, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.oscilloscope}) -%>
