<%- include('../generated.ejs') %>
from typing import List
from ..dto import requests as dto
from ..call import call_sync
from ..units import UnitsAndLiterals, Units, TimeUnits, FrequencyUnits
from ..dto.ascii.io_port_type import IoPortType
from ..dto.ascii.oscilloscope_data_source import OscilloscopeDataSource
from ..dto.ascii.oscilloscope_capture_properties import OscilloscopeCaptureProperties


class OscilloscopeData:
<%- include('../docstring_simple.ejs', {type: definitions.classes.oscilloscopeData, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.oscilloscopeData}) -%>

    def __del__(self) -> None:
        OscilloscopeData.__free(self.data_id)
