<%- include('../generated.ejs') %>
from typing import TYPE_CHECKING, List

from ..call import call, call_async
from ..dto import requests as dto

from .pvt_sequence import PvtSequence
from .pvt_buffer import PvtBuffer

if TYPE_CHECKING:
    from .device import Device


class Pvt:
<%- include('../docstring_simple.ejs', {type: definitions.classes.pvt, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.pvt}) -%>
