<%- include('../generated.ejs') %>
from typing import TYPE_CHECKING, List
from ..dto import requests as dto
from ..call import call, call_async

if TYPE_CHECKING:
    from .device import Device


class PvtBuffer:
<%- include('../docstring_simple.ejs', {type: definitions.classes.pvtBuffer, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.pvtBuffer}) -%>
