# pylint: disable=too-many-arguments, too-many-lines

<%- include('../generated.ejs') %>
from typing import TYPE_CHECKING, List, Optional
from ..dto import requests as dto
from ..call import call, call_async, call_sync
from ..dto.measurement import Measurement
from .pvt_buffer import PvtBuffer
from ..dto.ascii.pvt_mode import PvtMode
from ..dto.ascii.pvt_axis_definition import PvtAxisDefinition
from .pvt_io import PvtIo
from ..dto.ascii.digital_output_action import DigitalOutputAction

if TYPE_CHECKING:
    from .device import Device


class PvtSequence:
<%- include('../docstring_simple.ejs', {type: definitions.classes.pvtSequence, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.pvtSequence}) -%>
