# pylint: disable=too-many-arguments, too-many-lines

<%- include('../generated.ejs') %>
from typing import TYPE_CHECKING, List
from ..dto import requests as dto
from ..units import Units, TimeUnits
from ..call import call, call_async
from ..dto.ascii.digital_output_action import DigitalOutputAction

if TYPE_CHECKING:
    from .device import Device


class PvtIo:
<%- include('../docstring_simple.ejs', {type: definitions.classes.pvtIo, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.pvtIo}) -%>
