<%- include('../generated.ejs') %>
from typing import List, Optional
from ..dto import requests as dto
from ..call import call, call_async
from .axis import Axis
from ..dto.ascii.servo_tuning_paramset import ServoTuningParamset
from ..dto.ascii.paramset_info import ParamsetInfo
from ..dto.ascii.servo_tuning_param import ServoTuningParam
from ..dto.ascii.simple_tuning import SimpleTuning
from ..dto.ascii.simple_tuning_param_definition import SimpleTuningParamDefinition
from ..dto.ascii.pid_tuning import PidTuning


class ServoTuner:
<%- include('../docstring_simple.ejs', {type: definitions.classes.servoTuner, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.servoTuner}) -%>
