<%- include('../generated.ejs') %>

from typing import TYPE_CHECKING, List, Optional
from ..call import call, call_async

from ..dto import requests as dto

if TYPE_CHECKING:
    from .axis import Axis
    from .device import Device


class AxisStorage:
<%- include('../docstring_simple.ejs', {type: definitions.classes.axisStorage, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.axisStorage}) -%>


class DeviceStorage:
<%- include('../docstring_simple.ejs', {type: definitions.classes.deviceStorage, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.deviceStorage}) -%>
