<%- include('../generated.ejs') %>
from typing import TYPE_CHECKING, List

from ..call import call, call_async
from ..dto import requests as dto

from .stream import Stream
from .stream_buffer import StreamBuffer

if TYPE_CHECKING:
    from .device import Device


class Streams:
<%- include('../docstring_simple.ejs', {type: definitions.classes.streams, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.streams}) -%>
