# pylint: disable=too-many-arguments, too-many-lines

<%- include('../generated.ejs') %>
from typing import TYPE_CHECKING, List
from ..dto import requests as dto
from ..units import Units, VelocityUnits, AccelerationUnits, TimeUnits
from ..call import call, call_async, call_sync
from ..dto.measurement import Measurement
from ..dto.rotation_direction import RotationDirection
from .stream_buffer import StreamBuffer
from ..dto.ascii.stream_mode import StreamMode
from ..dto.ascii.stream_axis_definition import StreamAxisDefinition
from .stream_io import StreamIo
from ..dto.ascii.digital_output_action import DigitalOutputAction

if TYPE_CHECKING:
    from .device import Device


class Stream:
<%- include('../docstring_simple.ejs', {type: definitions.classes.stream, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.stream}) -%>
