<%- include('../generated.ejs') %>

from typing import Any

from ..call import call, call_async, call_sync

from ..dto import requests as dto


class Transport:
<%- include('../docstring_simple.ejs', {type: definitions.classes.transport, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.transport}) -%>

    def __enter__(self) -> 'Transport':
        """ __enter__ """
        return self

    def __exit__(self, _type: Any, _value: Any, _traceback: Any) -> None:
        """ __exit__ """
        self.close()
