<%- include('../generated.ejs') %>
from typing import TYPE_CHECKING, List
from ..dto import requests as dto
from ..call import call, call_async
from .trigger import Trigger
from ..dto.ascii.trigger_state import TriggerState
from ..dto.ascii.trigger_enabled_state import TriggerEnabledState

if TYPE_CHECKING:
    from .device import Device


class Triggers:
<%- include('../docstring_simple.ejs', {type: definitions.classes.triggers, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.triggers}) -%>
