<%- include('../generated.ejs') %>
from typing import TYPE_CHECKING, Optional
from ..dto import requests as dto
from ..call import call, call_async
from ..units import Units, LengthUnits, UnitsAndLiterals, TimeUnits
from ..dto.ascii.trigger_state import TriggerState
from ..dto.ascii.trigger_enabled_state import TriggerEnabledState
from ..dto.ascii.io_port_type import IoPortType
from ..dto.ascii.trigger_condition import TriggerCondition
from ..dto.ascii.trigger_action import TriggerAction
from ..dto.ascii.trigger_operation import TriggerOperation

if TYPE_CHECKING:
    from .device import Device


class Trigger:
<%- include('../docstring_simple.ejs', {type: definitions.classes.trigger, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.trigger}) -%>
