<%- include('../generated.ejs') %>

from typing import TYPE_CHECKING, Set
from ..call import call, call_async

from ..dto import requests as dto

if TYPE_CHECKING:
    from .device import Device


class Warnings:
<%- include('../docstring_simple.ejs', {type: definitions.classes.warnings, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.warnings}) -%>
