<%- include('../generated.ejs') %>

package zaber.motion.microscopy;

import zaber.motion.ascii.Axis;
import zaber.motion.ascii.Device;
import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;
import zaber.motion.Units;
import zaber.motion.NamedParameter;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.autofocus, indent: 0}) %>
public class Autofocus {
<%- include('../class.ejs', {type: definitions.classes.autofocus}) -%>
}
