<%- include('../generated.ejs') %>

package zaber.motion.microscopy;

import zaber.motion.ascii.Device;
import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;
import zaber.motion.Units;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.cameraTrigger, indent: 0}) %>
public class CameraTrigger {
<%- include('../class.ejs', {type: definitions.classes.cameraTrigger}) -%>
}
