<%- include('../generated.ejs') %>

package zaber.motion.microscopy;

import zaber.motion.ascii.Device;
import zaber.motion.ascii.DeviceIO;
import zaber.motion.ascii.Connection;
import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.illuminator, indent: 0}) %>
public class Illuminator {
<%- include('../class.ejs', {type: definitions.classes.illuminator}) -%>
}
