<%- include('../generated.ejs') %>

package zaber.motion.microscopy;

import zaber.motion.ascii.Axis;
import zaber.motion.ascii.AxisSettings;
import zaber.motion.ascii.AxisStorage;
import zaber.motion.ascii.SetStateAxisResponse;
import zaber.motion.ascii.Warnings;
import zaber.motion.ascii.Response;
import zaber.motion.exceptions.MotionLibException;
import zaber.motion.FirmwareVersion;
import zaber.motion.gateway.Call;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.illuminatorChannel, indent: 0}) %>
public class IlluminatorChannel {
<%- include('../class.ejs', {type: definitions.classes.illuminatorChannel}) -%>
}
