<%- include('../generated.ejs') %>

package zaber.motion.microscopy;

import zaber.motion.ascii.Axis;
import zaber.motion.ascii.AxisGroup;
import zaber.motion.ascii.Connection;
import zaber.motion.ascii.Device;
import zaber.motion.exceptions.MotionLibException;
import zaber.motion.gateway.Call;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.microscope, indent: 0}) %>
public class Microscope {
<%- include('../class.ejs', {type: definitions.classes.microscope}) -%>
}
