<%- include('../generated.ejs') %>

package zaber.motion.microscopy;

import zaber.motion.ascii.Axis;
import zaber.motion.ascii.Device;
import zaber.motion.ascii.Connection;
import zaber.motion.Measurement;
import zaber.motion.Units;
import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;

<%- include('../javadoc_simple.ejs', {type: definitions.classes.objectiveChanger, indent: 0}) %>
public class ObjectiveChanger {
<%- include('../class.ejs', {type: definitions.classes.objectiveChanger}) -%>
}
