<%- include('../generated.ejs') %>

package zaber.motion.microscopy;

import zaber.motion.gateway.Call;
import zaber.motion.exceptions.MotionLibException;
import zaber.motion.requests.InterfaceType;

import java.util.concurrent.CompletableFuture;
import java.util.concurrent.ExecutionException;


<%- include('../javadoc_simple.ejs', {type: definitions.classes.wdiAutofocus, indent: 0}) %>
public class WdiAutofocusProvider implements AutoCloseable {
<%- include('../class.ejs', {type: definitions.classes.wdiAutofocus}) -%>
}
