<%- include('../generated.ejs') %>

import { Device } from './device';
import * as gateway from '../gateway';
import * as requests from '../requests';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.allAxes, indent: 0}) %>
export class AllAxes {
<%- include('../class.ejs', {type: definitions.classes.allAxes}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.allAxes}) -%>
