<%- include('../generated.ejs') %>

import { Axis } from './axis';
import { Measurement } from '../measurement';
import { Angle, Length, Native } from '../units';
import * as gateway from '../gateway';
import * as requests from '../requests';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.axisGroup, indent: 0}) %>
export class AxisGroup {
<%- include('../class.ejs', {type: definitions.classes.axisGroup}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.axisGroup}) -%>
