<%- include('../generated.ejs') %>

import { Device } from './device';
import { AxisIdentity } from './axis_identity';
import { AxisType } from './axis_type';
import { Warnings } from './warnings';
import { AxisSettings } from './axis_settings';
import { Angle, Length, Native, AngularVelocity, Velocity, Acceleration, AngularAcceleration, Units, Time } from '../units';
import { Response } from './response';
import { Measurement } from '../measurement';
import * as gateway from '../gateway';
import * as requests from '../requests';
import { AxisStorage } from './storage';
import { SetStateAxisResponse } from './set_state_axis_response';
import { FirmwareVersion } from '../firmware_version';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.axis, indent: 0}) %>
export class Axis {
<%- include('../class.ejs', {type: definitions.classes.axis}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.axis}) -%>
