<%- include('../generated.ejs') %>

import { Axis } from './axis';
import { GetAxisSetting } from './get_axis_setting';
import { GetAxisSettingResult } from './get_axis_setting_result';
import { ConversionFactor } from './conversion_factor';
import { Units } from '../units';
import * as gateway from '../gateway';
import * as requests from '../requests';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.axisSettings, indent: 0}) %>
export class AxisSettings {
<%- include('../class.ejs', {type: definitions.classes.axisSettings}) -%>
}
