<%- include('../generated.ejs') %>

import { Observable, ReplaySubject } from 'rxjs';
import { map, filter, takeUntil, take } from 'rxjs/operators';
import * as gateway from '../gateway';
import { events, filterEvent } from '../gateway';
import * as requests from '../requests';
import { Transport } from './transport';
import { Device } from './device';
import { Response } from './response';
import { UnknownResponseEvent } from './unknown_response_event';
import { AlertEvent } from './alert_event';
import { MotionLibException } from '../exceptions';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.connection, indent: 0}) %>
export class Connection {
<%- include('../jsdoc_simple.ejs', {type: definitions.classes.connection.events.unknownResponse, indent: 1}) %>
  public unknownResponse!: Observable<UnknownResponseEvent>;

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.connection.events.alert, indent: 1}) %>
  public alert!: Observable<AlertEvent>;

<%- include('../class.ejs', {type: definitions.classes.connection}) -%>

  private _disconnected = new ReplaySubject<MotionLibException>();

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.connection.events.disconnected, indent: 1}) %>
  public get disconnected(): Observable<MotionLibException> {
    return this._disconnected;
  }

  private _subscribe(): void {
    this.unknownResponse = events.pipe(
      takeUntil(this._disconnected),
      filterEvent<requests.UnknownResponseEventWrapper>('interface/unknown_response'),
      filter(event => event.interfaceId === this.interfaceId),
      map(event => event.unknownResponse)
    );

    this.alert = events.pipe(
      takeUntil(this._disconnected),
      filterEvent<requests.AlertEventWrapper>('interface/alert'),
      filter(event => event.interfaceId === this.interfaceId),
      map(event => event.alert)
    );

    events.pipe(
      filterEvent<requests.DisconnectedEvent>('interface/disconnected'),
      filter(event => event.interfaceId === this.interfaceId),
      take(1),
      map(({ errorMessage, errorType }) => gateway.convertToException(errorType, errorMessage))
    ).subscribe(this._disconnected);
  }
}

<%- include('../options.ejs', {type: definitions.classes.connection}) -%>
