<%- include('../generated.ejs') %>

import { Connection } from './connection';
import { DeviceSettings } from './device_settings';
import { Axis } from './axis';
import { AllAxes } from './all_axes';
import { Warnings } from './warnings';
import { DeviceIdentity } from './device_identity';
import { DeviceIO } from './device_io';
import { Response } from './response';
import { Lockstep } from './lockstep';
import { Oscilloscope } from './oscilloscope';
import { CanSetStateDeviceResponse } from './can_set_state_device_response';
import { Pvt } from './pvt';
import { Measurement } from '../measurement';
import { FirmwareVersion } from '../firmware_version';
import * as gateway from '../gateway';
import * as requests from '../requests';
import { DeviceStorage } from './storage';
import { Triggers } from './triggers';
import { Streams } from './streams';
import { SetStateDeviceResponse } from './set_state_device_response';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.device, indent: 0}) %>
export class Device {
<%- include('../class.ejs', {type: definitions.classes.device}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.device}) -%>
