<%- include('../generated.ejs') %>

import { Device } from './device';
import { GetSetting } from './get_setting';
import { GetSettingResult } from './get_setting_result';
import { Units } from '../units';
import * as gateway from '../gateway';
import * as requests from '../requests';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.deviceSettings, indent: 0}) %>
export class DeviceSettings {
<%- include('../class.ejs', {type: definitions.classes.deviceSettings}) -%>
}
