<%- include('../generated.ejs') %>

import { Device } from './device';
import * as gateway from '../gateway';
import * as requests from '../requests';
import { Native, Units, Time, Frequency } from '../units';
import { DeviceIOInfo } from './device_io_info';
import { DigitalOutputAction } from './digital_output_action';
import { IoPortType } from './io_port_type';
import { IoPortLabel } from './io_port_label';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.deviceIO, indent: 0}) %>
export class DeviceIO {
<%- include('../class.ejs', {type: definitions.classes.deviceIO}) -%>
}
