<%- include('../generated.ejs') %>

import { Device } from './device';
import { Angle, Length, Native, AngularVelocity, Velocity, Acceleration, AngularAcceleration, Units, Time } from '../units';
import * as gateway from '../gateway';
import * as requests from '../requests';
import { LockstepAxes } from './lockstep_axes';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.lockstep, indent: 0}) %>
export class Lockstep {
<%- include('../class.ejs', {type: definitions.classes.lockstep}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.lockstep}) -%>
