<%- include('../generated.ejs') %>

import { Native, Time, Frequency, Units } from '../units';
import * as gateway from '../gateway';
import * as requests from '../requests';
import { registerForFinalization } from '../finalizer';

import { IoPortType } from './io_port_type';
import { OscilloscopeDataSource } from './oscilloscope_data_source';
import { OscilloscopeCaptureProperties } from './oscilloscope_capture_properties';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.oscilloscopeData, indent: 0}) %>
export class OscilloscopeData {
<%- include('../class.ejs', {type: definitions.classes.oscilloscopeData}) -%>

  /**
   * Releases the native resources of the oscilloscope data.
   * Should only be called if your environment does not support FinalizationRegistry.
   * https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/FinalizationRegistry
   */
  public free(): void {
    OscilloscopeData._free(this.dataId);
  }
}
