<%- include('../generated.ejs') %>

import { Device } from './device';
import { IoPortType } from './io_port_type';
import { OscilloscopeData } from './oscilloscope_data';
import { Native, Time, Frequency, Units } from '../units';
import * as gateway from '../gateway';
import * as requests from '../requests';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.oscilloscope, indent: 0}) %>
export class Oscilloscope {
<%- include('../class.ejs', {type: definitions.classes.oscilloscope}) -%>
}
