<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import * as requests from '../requests';
import { Device } from './device';
import { PvtSequence } from './pvt_sequence';
import { PvtBuffer } from './pvt_buffer';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.pvt, indent: 0}) %>
export class Pvt {
<%- include('../class.ejs', {type: definitions.classes.pvt}) -%>
}
