<%- include('../generated.ejs') %>

import { Device } from './device';
import { Time, Native, Units } from '../units';
import * as gateway from '../gateway';
import * as requests from '../requests';
import { DigitalOutputAction } from './digital_output_action';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.pvtIo, indent: 0}) %>
export class PvtIo {
<%- include('../class.ejs', {type: definitions.classes.pvtIo}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.pvtIo}) -%>
