<%- include('../generated.ejs') %>

import { Device } from './device';
import * as gateway from '../gateway';
import * as requests from '../requests';
import { Measurement } from '../measurement';
import { PvtBuffer } from './pvt_buffer';
import { PvtMode } from './pvt_mode';
import { PvtAxisDefinition } from './pvt_axis_definition';
import { PvtIo } from './pvt_io';
import { DigitalOutputAction } from './digital_output_action';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.pvtSequence, indent: 0}) %>
export class PvtSequence {
<%- include('../class.ejs', {type: definitions.classes.pvtSequence}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.pvtSequence}) -%>
