<%- include('../generated.ejs') %>

import { Axis } from './axis';
import * as gateway from '../gateway';
import * as requests from '../requests';
import { ServoTuningParamset } from './servo_tuning_paramset';
import { ParamsetInfo } from './paramset_info';
import { ServoTuningParam } from './servo_tuning_param';
import { PidTuning } from './pid_tuning';
import { SimpleTuningParamDefinition } from './simple_tuning_param_definition';
import { SimpleTuning } from './simple_tuning';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.servoTuner, indent: 0}) %>
export class ServoTuner {
<%- include('../class.ejs', {type: definitions.classes.servoTuner}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.servoTuner}) -%>
