<%- include('../generated.ejs') %>

import { Axis } from './axis';
import { Device } from './device';
import * as gateway from '../gateway';
import * as requests from '../requests';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.axisStorage, indent: 0}) %>
export class AxisStorage {
<%- include('../class.ejs', {type: definitions.classes.axisStorage}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.axisStorage}) -%>

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.deviceStorage, indent: 0}) %>
export class DeviceStorage {
<%- include('../class.ejs', {type: definitions.classes.deviceStorage}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.deviceStorage}) -%>
