<%- include('../generated.ejs') %>

import { Device } from './device';
import { Time, Native, Acceleration, AngularAcceleration, AngularVelocity, Velocity, Units } from '../units';
import { RotationDirection } from '../rotation_direction';
import * as gateway from '../gateway';
import * as requests from '../requests';
import { Measurement } from '../measurement';
import { StreamBuffer } from './stream_buffer';
import { StreamMode } from './stream_mode';
import { StreamAxisDefinition } from './stream_axis_definition';
import { StreamIo } from './stream_io';
import { DigitalOutputAction } from './digital_output_action';


<%- include('../jsdoc_simple.ejs', {type: definitions.classes.stream, indent: 0}) %>
export class Stream {
<%- include('../class.ejs', {type: definitions.classes.stream}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.stream}) -%>
