<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import * as requests from '../requests';
import { Device } from './device';
import { Stream } from './stream';
import { StreamBuffer } from './stream_buffer';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.streams, indent: 0}) %>
export class Streams {
<%- include('../class.ejs', {type: definitions.classes.streams}) -%>
}
