<%- include('../generated.ejs') %>

import { Device } from './device';
import * as gateway from '../gateway';
import * as requests from '../requests';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.streamBuffer, indent: 0}) %>
export class StreamBuffer {
<%- include('../class.ejs', {type: definitions.classes.streamBuffer}) -%>
}
