<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import * as requests from '../requests';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.transport, indent: 0}) %>
export class Transport {
<%- include('../class.ejs', {type: definitions.classes.transport}) -%>
}
