<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import * as requests from '../requests';
import { Native, Units, Length, Angle, Time } from '../units';
import { Device } from './device';
import { TriggerState } from './trigger_state';
import { TriggerEnabledState } from './trigger_enabled_state';
import { IoPortType } from './io_port_type';
import { TriggerCondition } from './trigger_condition';
import { TriggerAction } from './trigger_action';
import { TriggerOperation } from './trigger_operation';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.trigger, indent: 0}) %>
export class Trigger {
<%- include('../class.ejs', {type: definitions.classes.trigger}) -%>
}
