<%- include('../generated.ejs') %>

import { Device } from './device';
import * as gateway from '../gateway';
import * as requests from '../requests';
import { Trigger } from './trigger';
import { TriggerState } from './trigger_state';
import { TriggerEnabledState } from './trigger_enabled_state';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.triggers, indent: 0}) %>
export class Triggers {
<%- include('../class.ejs', {type: definitions.classes.triggers}) -%>
}
