<%- include('../generated.ejs') %>

import { Device } from './device';
import * as gateway from '../gateway';
import * as requests from '../requests';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.warnings, indent: 0}) %>
export class Warnings {
<%- include('../class.ejs', {type: definitions.classes.warnings}) -%>
}
