<%- include('../generated.ejs') %>

from typing import TYPE_CHECKING, List, Optional
from ..call import call, call_async, call_sync

from ..units import Units, TimeUnits
from ..dto import requests as dto
from ..ascii.warnings import Warnings
from ..dto.ascii.response import Response
from ..dto.measurement import Measurement
from ..ascii.axis import Axis
from ..ascii.axis_settings import AxisSettings
from ..ascii.storage import AxisStorage
from ..dto.product.process_controller_mode import ProcessControllerMode
from ..dto.product.process_controller_source import ProcessControllerSource
from ..dto.ascii.set_state_axis_response import SetStateAxisResponse
from ..dto.firmware_version import FirmwareVersion

if TYPE_CHECKING:
    from .process_controller import ProcessController


class Process:
<%- include('../docstring_simple.ejs', {type: definitions.classes.process, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.process}) -%>
