<%- include('../generated.ejs') %>

from typing import List
from ..call import call, call_sync, call_async

from ..dto import requests as dto
from ..ascii.device import Device
from .process import Process
from ..ascii.connection import Connection


class ProcessController:
<%- include('../docstring_simple.ejs', {type: definitions.classes.processController, indent: 1}) %>

<%- include('../class.ejs', {type: definitions.classes.processController}) -%>
