<%- include('../generated.ejs') %>

import { Observable, ReplaySubject } from 'rxjs';
import { map, filter, takeUntil, take } from 'rxjs/operators';
import * as gateway from '../gateway';
import { events, filterEvent } from '../gateway';
import * as requests from '../requests';
import { Device } from './device';
import { UnknownResponseEvent } from './unknown_response_event';
import { ReplyOnlyEvent } from './reply_only_event';
import { CommandCode } from './command_code';
import { Message } from './message';
import { MotionLibException } from '../exceptions';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.binaryConnection, indent: 0}) %>
export class Connection {
<%- include('../jsdoc_simple.ejs', {type: definitions.classes.binaryConnection.events.unknownResponse, indent: 1}) %>
  public unknownResponse!: Observable<UnknownResponseEvent>;

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.binaryConnection.events.replyOnly, indent: 1}) %>
  public replyOnly!: Observable<ReplyOnlyEvent>;

<%- include('../class.ejs', {type: definitions.classes.binaryConnection}) -%>

  private _disconnected = new ReplaySubject<MotionLibException>();

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.connection.events.disconnected, indent: 1}) %>
  public get disconnected(): Observable<MotionLibException> {
    return this._disconnected;
  }

  private _subscribe(): void {
    this.unknownResponse = events.pipe(
      takeUntil(this._disconnected),
      filterEvent<requests.UnknownBinaryResponseEventWrapper>('binary/interface/unknown_response'),
      filter(event => event.interfaceId === this.interfaceId),
      map(event => event.unknownResponse)
    );

    this.replyOnly = events.pipe(
      takeUntil(this._disconnected),
      filterEvent<requests.BinaryReplyOnlyEventWrapper>('binary/interface/reply_only'),
      filter(event => event.interfaceId === this.interfaceId),
      map(event => event.reply)
    );

    events.pipe(
      filterEvent<requests.DisconnectedEvent>('interface/disconnected'),
      filter(event => event.interfaceId === this.interfaceId),
      take(1),
      map(({ errorMessage, errorType }) => gateway.convertToException(errorType, errorMessage))
    ).subscribe(this._disconnected);
  }
}

<%- include('../options.ejs', {type: definitions.classes.binaryConnection}) -%>
