<%- include('../generated.ejs') %>

import { BinarySettings } from './binary_settings';
import { Connection } from './connection';
import { DeviceIdentity } from './device_identity';
import { DeviceSettings } from './device_settings';
import * as gateway from '../gateway';
import * as requests from '../requests';
import { CommandCode } from './command_code';
import { Message } from './message';
import { Angle, Length, Native, AngularVelocity, Velocity, Units } from '../units';
import { DeviceType } from './device_type';
import { FirmwareVersion } from '../firmware_version';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.binaryDevice, indent: 0}) %>
export class Device {
<%- include('../class.ejs', {type: definitions.classes.binaryDevice}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.binaryDevice}) -%>
