<%- include('../generated.ejs') %>

import { Device } from './device';
import { BinarySettings } from './binary_settings';
import { Units } from '../units';
import * as gateway from '../gateway';
import * as requests from '../requests';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.binaryDeviceSettings, indent: 0}) %>
export class DeviceSettings {
<%- include('../class.ejs', {type: definitions.classes.binaryDeviceSettings}) -%>
}
