<%- include('generated.ejs') %>

from typing import Optional
from .call import call_sync
from .dto import requests as dto
from .dto.log_output_mode import LogOutputMode
from .dto.device_db_source_type import DeviceDbSourceType


class Library:
<%- include('docstring_simple.ejs', {type: definitions.classes.library, indent: 1}) -%>

<%- include('class.ejs', {type: definitions.classes.library}) -%>


Library.check_version()
