<%- include('generated.ejs') %>

from typing import List
from .call import call, call_async, call_sync
from .dto import requests as dto


class Tools:
<%- include('docstring_simple.ejs', {type: definitions.classes.tools, indent: 1}) -%>

<%- include('class.ejs', {type: definitions.classes.tools}) -%>
