<%- include('generated.ejs') %>

from .call import call_sync
from .dto import requests as dto
from .units import UnitsAndLiterals


class UnitTable:
<%- include('docstring_simple.ejs', {type: definitions.classes.unitTable, indent: 1}) -%>

<%- include('class.ejs', {type: definitions.classes.unitTable}) -%>
