<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import * as requests from '../requests';
import { Device } from '../ascii/device';
import { Axis } from '../ascii/axis';
import { Angle, Length, Native, Units } from '../units';
import { NamedParameter } from '../named_parameter';
import { AutofocusStatus } from './autofocus_status';


<%- include('../jsdoc_simple.ejs', {type: definitions.classes.autofocus, indent: 0}) %>
export class Autofocus {
<%- include('../class.ejs', {type: definitions.classes.autofocus}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.autofocus}) -%>
