<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import * as requests from '../requests';
import { Time, Native, Units } from '../units';
import { Device } from '../ascii/device';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.cameraTrigger, indent: 0}) %>
export class CameraTrigger {
<%- include('../class.ejs', {type: definitions.classes.cameraTrigger}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.cameraTrigger}) -%>
