<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import * as requests from '../requests';
import { Device } from '../ascii/device';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.filterChanger, indent: 0}) %>
export class FilterChanger {
<%- include('../class.ejs', {type: definitions.classes.filterChanger}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.filterChanger}) -%>
