<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import * as requests from '../requests';
import { Axis } from '../ascii/axis';
import { AxisStorage } from '../ascii/storage';
import { AxisSettings } from '../ascii/axis_settings';
import { Warnings } from '../ascii/warnings';
import { Response } from '../ascii/response';
import type { Illuminator } from './illuminator';
import { SetStateAxisResponse } from '../ascii';
import { FirmwareVersion } from '../firmware_version';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.illuminatorChannel, indent: 0}) %>
export class IlluminatorChannel {
<%- include('../class.ejs', {type: definitions.classes.illuminatorChannel}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.illuminatorChannel}) -%>
