<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import * as requests from '../requests';
import { Device } from '../ascii/device';
import { DeviceIO } from '../ascii/device_io';
import { Connection } from '../ascii/connection';
import { IlluminatorChannel } from './illuminator_channel';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.illuminator, indent: 0}) %>
export class Illuminator {
<%- include('../class.ejs', {type: definitions.classes.illuminator}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.illuminator}) -%>
