<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import * as requests from '../requests';
import { Axis } from '../ascii/axis';
import { AxisGroup } from '../ascii/axis_group';
import { Device } from '../ascii/device';
import { Connection } from '../ascii/connection';
import { Illuminator } from './illuminator';
import { ObjectiveChanger } from './objective_changer';
import { MicroscopeConfig } from './microscope_config';
import { FilterChanger } from './filter_changer';
import { Autofocus } from './autofocus';
import { CameraTrigger } from './camera_trigger';
import { ThirdPartyComponents } from './third_party_components';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.microscope, indent: 0}) %>
export class Microscope {
<%- include('../class.ejs', {type: definitions.classes.microscope}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.microscope}) -%>
