<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import { Connection } from '../ascii/connection';
import { Device } from '../ascii/device';
import { Axis } from '../ascii/axis';
import { Measurement } from '../measurement';
import * as requests from '../requests';
import { Angle, Length, Native, Units } from '../units';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.objectiveChanger, indent: 0}) %>
export class ObjectiveChanger {
<%- include('../class.ejs', {type: definitions.classes.objectiveChanger}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.objectiveChanger}) -%>
