<%- include('../generated.ejs') %>

import * as gateway from '../gateway';
import * as requests from '../requests';
import { WdiAutofocusProviderStatus } from './wdi_autofocus_provider_status';

<%- include('../jsdoc_simple.ejs', {type: definitions.classes.wdiAutofocus, indent: 0}) %>
export class WdiAutofocusProvider {
<%- include('../class.ejs', {type: definitions.classes.wdiAutofocus}) -%>
}

<%- include('../options.ejs', {type: definitions.classes.wdiAutofocus}) -%>
