package generated

type BinarySetting struct {
	Name       string
	GetCommand int32
	SetCommand int32
}

var settings []*BinarySetting

func init() {
	settings = []*BinarySetting{
<% settings.forEach(setting => { -%>
		&BinarySetting{ Name: "<%- setting.dbName %>", GetCommand: <%- setting.returnCommand %>, SetCommand: <%- setting.setCommand %> },
<% }); -%>
	}
}

func GetSetting(index int32) *BinarySetting {
	return settings[index]
}

func GetSettingByCommand(command int32) (*BinarySetting, bool) {
	for _, setting := range settings {
		if command == setting.GetCommand || command == setting.SetCommand {
			return setting, true
		}
	}
	return nil, false
}
